div.jobs-wrapper {
  position: absolute;
  top: 75px;
  left: 20%;
  margin-bottom: 20px;
  
  ul.job-posts {
    width: 1050px;
    
    li {
      position: relative;
      height: 150px;
      border-bottom: 5px solid rgba(0,0,0,.1);

      span.admin-job-scorecard {
        position: absolute;
        top: 0px;
        height: 200px;
        width: 200px;
        right: -210px;
        background-color: yellow;
        display: inline-block;
      }

      &:nth-of-type(even) {
        // .company-business-card {
        //   float: right;       
        // }
        // .job-description-wrapper {
        //   float: right;
        // }
      }      
      
      .company-business-card {
        float: left;
      }
      
      &:hover {
        a.view {
          margin-left: 3px;
          color: blue;
          font-size: 13px;  
          display: inline-block;
          padding-left: 5px;

          &:hover {
            color: #2c3e50;
          } 
        }   
      }
      
      &:last-of-type {
        border-bottom: none;  
      }
    }    
  }
}




























