<div class="f-page f-cover">
	<div class="cover-elements">
		<div class="f-logo">
			<a class="f-ref" href="http://www.flickr.com/photos/nasahqphoto/"></a>
		</div>
		<h1>Flip the page to see your Jobs</h1>
		<div class="f-cover-story"><span><%= current_user.fname if current_user %></span>We've been waiting for you.</div>
	</div>
	<div class="f-cover-flip">&lt; Pull to View!</div>
</div>