<% article = locals[:article] %>

<span class="left">
	<%= render './cards/company_bcard', locals: { company: article.company } %>
</span>

<div class="preview-description-wrapper article left">	
	<span class="left">
		<%= raw(article.title) %>
	</span>

	<span class="article-text left">
		<%= raw(article.first_sentence) %>
	</span>
</div>

<!-- <span class="left">
	<%#= render './cards/company_bcard', locals: { company: article.company } %>
</span> -->
	