<%= render "./layouts/inpage_navbar" %>

<ul class="links">
	<% @articles.each do |article| %>
		<li>
			<%= render 'article', locals: { article: article, this_table: 'articles' } %>
		</li>
	<% end %>
</ul>
