<%= render "./layouts/inpage_navbar" %>

<ul class="links">
	<li>
		<%#= render 'article', locals: { article: @article, this_table: 'users' } %>
		<%= render './forms/article_form', locals: { article: @article } %>
	</li>
</ul>