div.companies-wrapper {
  position: absolute;
  top: 75px;
  left: 300px;
  margin-bottom: 30px;

  #edit-skills {
    color: yellow;
    top: 200px;

  }

  #next {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    color: white;
    background-color: black;
    z-index: 9999;
  }
  
  form.new_job {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: black;

    input[type='text'] {
      border: none;
      margin-left: 15px;
      width: 200px;
      text-indent: 10px;
    }
    
    input[type='submit'] {
      border: none;
      height: 15px;
      line-height: 15px;
    }
        
    input[type='text'], input[type='submit'] {
      float: left;
    }
  }
  
  ul.companies-posts {
    width: 990px;

    li.company-wrapper {
      height: 100%;
      border-radius: 1px;
      border: 5px solid rgba(0,0,0,.5);
      
      .company-top-wrapper {
        display: block;
        height: 150px;      
      }
      
      .company-mid-wrapper {
        display: block;
        
        .company-navbar {
          position: relative;
          top: 0px;
          height: 35px;
          line-height: 35px;
          width: 981px;
          background-color: #778899;
          
          a {
            float: left;
            border-left: 1px solid rgba(0,0,0,.2);
            padding-left: 10px;
            padding-right: 10px;
            color: white;
            font-size: 14px;
            font-family: 'Clear Sans';
            
            &:first-of-type {
              margin-left: 175px;
            }
            
            &:last-of-type {
              border-right: 1px solid rgba(0,0,0,.2);
            }
          }
          
          form.edit_company {
            float: right;
            display: inline-block;
            position: absolute;
            top: 8px;
            right: 10px;
            
            input[type='submit'] {
              border: none;
              float: right;
              position: absolute;
              display: inline-block;
              top: -5px;
              right: 5px;
              height: 15px;
              line-height: 15px;
              width: 50px;
            }
          }
        }
        
        div.content {
          width: 900px;
          padding-top: 20px;
          padding-bottom: 30px;
          padding-left: 70px;
          padding-right: 70px;
          text-align: justify;
          border-bottom: 2px solid rgba(0,0,0,.1);  
          
          .c-image-wrapper {
            position: relative;
            
            &:hover {
              .delete-image {
                display: block;
              }
            }
            
            img {
              margin-bottom: 10px;
            }
            
            .delete-image {
              position: absolute;
              left: 5%;
              bottom: 20px;
              text-decoration: none;
              background-color: black;
              color: white;
              cursor: pointer; 
              padding: 5px; 
              display: none;         
            }
          }
                              
          h1 {
            font-size: 28px;
            line-height: 50px;
            color: black;   
            margin-bottom: 10px;         
          }
          
          h3 {
            font-size: 24px;
          }
          
          p {
            font-size: 20px;
            line-height: 30px;
            color: black;
            margin-bottom: 15px;            
          }
          
          article {
            padding-bottom: 0;
          }
          
          &:nth-of-type(1) {
            background-color: rgb(243,249,245);
          }

          &:nth-of-type(2) {
            background-color: rgb(243,249,245);         
          }

          &:nth-of-type(3) {
            background-color: rgb(243,249,245);
          }

          &:nth-of-type(4){
            background-color: rgb(243,249,245);
          }

          &:nth-of-type(5) {
            background-color: rgb(243,249,245);
          } 
          
          &:nth-of-type(6) {
            background-color: rgb(243,249,245);
          }
          
          &:nth-of-type(7) {
            background-color: rgb(243,249,245);
          }                 
                      
          &:nth-of-type(8) {
            background-color: rgb(243,249,245);
          }                             
        }        
      }
    }
    
    div.company-job-wrapper {
      border-top: none;
      margin-top: none;
      
      div.job-description-wrapper {
        width: 640px; 
        height: 150px;       
      }
    }
    
    div.job-key-stats {
      margin-top: 15px;
      padding: 15px;
      width: 271px;
      height: 120px;
      background-color: white;
      
      a {
        color: #2980b9;
      }      
    }
    
    input {
      display: block;
    }
  }
  
  div.job-admin-section {
    padding: 15px;    
    background-color: white;
    
    a {
      color: #2980b9;
    }
    
    p {
      margin-top: 3px;
      font-size: 15px;
      line-height: 20px;
    }
    
    form.edit_job {
      label {
        display: inline-block;
        width: 100%;

        input {
          display: inline-block;
          width: 10px;
        }
        
      }
    }
  }
}



