// COMPANY BUSINESS CARD (JUST LOGO)
div.company-business-card {
  position: relative;
  display: inline-block;
  width: 255px;
  height: 141px;
  background-color: white;
  border: 5px solid #FAFAFA;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    max-width: 85%;
    max-height: 85%;
    display: inline-block;
    border-radius: 1px;
  }    
  
  form {
    margin: 50px;

    input[type='file'], input {
      border: none;
    }
  }    
}