.company-stats {
  background-color: #333332;
  padding: 10px 15px;
  height: 130px;
  width: 270px;
  color: #b3b3b1;
  display: inline-block;
  position: absolute;
  left: 750px;
  
  h3 {
    span:first-of-type {
      color: white;
      position: relative;
    }
    
    span:nth-of-type(2) {
      position: absolute;
      left: 135px;
    }
  }
  
  a {
    text-align: center;
    line-height: 18px;
    bottom: 10px;
    padding: 4px 5px;
    width: 260px;
    background-color: black;
    position: absolute;
    color:  #5cb86e;
    font-family: 'Lato';
  }
}



