// COMPANIES#INDEX and COMPANIES#SHOW
.company-overview {
  position: absolute;
  left: 245px;
  display: inline-block;
  margin-left: 20px;
  background-color: #232323;
  height: 120px;
  padding: 15px;
  width: 455px;
  overflow: hidden;
  
  h1, h3, p {
    color: green;            
  }

  h1 {
    font-weight: 900;

    a {
      color: white;              
      line-height: 30px;
      font-size: 22px;            
    }
  }

  p {
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
    color: #b3b3b1;
  }        
}

