div.wolfpack-report {
	margin-top: 25px;
	width: 1050px;
	background-color: #fdfdfd;
	display: inline-block;	

	h2 {
		font-size: 20px;
		line-height: 35px;
		font-family: 'Source Sans Pro', sans-serif;
		padding: 5px 20px;
	}

	p {
		font-family: 'PT Serif';
		padding: 5px 20px;
	}

}