<div class="sidebar-toggle-wrapper">
	<li class="roles selected">
		<span class="arrow-down"></span>
		Roles
	</li>
	<li class="prefs">
		<span class="arrow-down hidden"></span>
		Preferences
	</li>
</div>