.f-wrapper {
  position: absolute;
  top: 45px;
  left: 215px;
}

.container {
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 2200px;
  -moz-perspective: 2200px;
  perspective: 2200px;
}  

.page {
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  h1 {
    text-align: center;
  }
  
  .back { 
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }

  .outer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 999;
  }
  
  .content {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.page > div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.overlay, .flipoverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.page .content .inner {
  padding: 50px 15px 10px;
  height: 100%;
}

.page.cover .front .content,
.page.cover-back .back .content {
  width: 100% !important;
}

.page.cover .front .content:after,
.page.cover-back .back .content:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 100%;
  content: '';
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.01) 16%,rgba(0,0,0,0) 17%,rgba(0,0,0,0) 44%,rgba(0,0,0,0.08) 60%,rgba(0,0,0,0.09) 61%,rgba(0,0,0,0.35) 100%);
  opacity: 0.2;
}
.page.cover-back .back .content:after {
  left: auto;
  right: 0px;
  background:-webkit-linear-gradient(left, rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,1) 100%);
}

.page.cover .front .content .inner {
  padding-top: 20px;
}

.page.cover .front .content {
  background: #ddd url(../app_images/empirestate.jpeg) no-repeat center center;
  background-size: cover;
}

.page.cover-back .back .content {
  background: #B0D5FF;
}

.page.cover h1 {
  color: rgba(255,255,255,0.9);
  text-align: right;
  font-weight: 300;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0 0 0 60%;
  line-height: 34px;
  padding-bottom: 10px;
  cursor: default;

  span {
    display: block;
    font-weight: 300;
    font-size: 15px;
  }
}

.f-cover-story {
  padding-top: 100px;
  padding-left: 50px;
}

.page.cover h1 
.page.cover .f-cover-story {
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-size: 50px;
  line-height: 46px;
  position: absolute;
  bottom: 60px;
  left: 40px;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
}

a.f-ref{
  line-height: 20px;
  font-size: 16px;
  position: absolute;
  top: 252px;
  font-weight: 300;
  text-indent: 1px;
}

.page.cover .f-cover-story span {
  display: block;
  font-size: 26px;
  line-height: 26px;
}
.page a, 
.page.cover .f-cover-story span {
  color: #F86738;
}

.page a:hover {
  color: #000;
}

.f-cover-flip {
  background: #000;
  color: #ddd;
  position: absolute;
  right: 0px;
  padding: 5px 30px 5px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  top: 50%;
  margin-top: -25px;
  cursor: default;
}

.f-logo {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 20px;
  left: 30px;
  line-height: 428px;
  color: white;
  font-size: 59px;
  font-weight: bold;
  text-indent: -3px;
  cursor: default;

  &:before {
    position: absolute;
    width: 49%;
    height: 50%;
    content: '';
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 95px 0px rgba(255,255,255,0.6);
  }

  &:after {
    position: absolute;
    width: 49%;
    height: 50%;
    content: '';
    top: 0px;
    right: 0px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 95px 0px rgba(255,255,255,0.4);
  }
    
}

.f-title {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  text-align:center;
  width: 100%;

  h2 {
    line-height: 50px;
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    color: #aaa;
    float: left;
    width: 33%;
  }
  
  a {
    width: 33%;
    float: left;
    text-align: right;
    overflow: hidden;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    padding: 0px 15px;
    color: #777;
    font-style: italic;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    
    &:first-child {
      text-align: left;
    }
    
    &:hover {
      color: #000;
    }
  }  
}

.box {
  border-top: 1px solid #f2f2f2;
  float: left;
  padding: 20px;
  overflow: hidden;
  position: relative;
  background: #fff;
  cursor: pointer;
  
  p {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Georgia;
    font-size: 13px;
    line-height: 20px;
    display: block;
    position: relative;
    padding-bottom: 30px;
    
    // EDIT
    margin-top: -20px;
  }

  h3 {
    padding: 20px 0px 5px 0px;
    margin: 0;
    font-size: 18px;
    
    // added
    line-height: 25px;

    span{
      display: block;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #74726f;
      margin-bottom: 20px;
    }
  }
  
  .overview {
    color: #333332;
    font-family: Georgia, serif;
    text-align: justify;
    font-size: 13px;
    line-height: 20px;
  }
  
  &:after{
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.73) 22%, rgba(255,255,255,0.73) 23%, rgba(255,255,255,1) 91%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(22%,rgba(255,255,255,0.73)), color-stop(23%,rgba(255,255,255,0.73)), color-stop(91%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.73) 22%,rgba(255,255,255,0.73) 23%,rgba(255,255,255,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
  }
  
}

.img-cont {
  max-height: 40%;
  max-width: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

// edited below
.w-25 { 
  width: 25%; 

  img {
    max-width: 75%;   
  }
}
.w-50{ 
  width: 50%; 

  img {
    max-width: 75%;
    max-height: 40%;
  }
}

.w-70{ 
  width: 70%;
  background-color: rgba(253,253,253,1);
  position: relative;
  
  img {
    position: absolute;
    max-width: 35%;
    max-height: 35%; 
    top: 15%;
    left: 3%;
  }
  
  h3.box-70 {
    position: absolute;
    display: inline-block;
    left: 42%;
    top: 5%;
    height: 10%;
  }
    
  p.box-70 {
    position: absolute;
    display: inline-block;
    color: black;
    left: 0%;
    margin-top: 50px;
    max-width: 55%;
    height: 30%;
  }
  
  .overview.box-70 {
    position: absolute;
    top: 50%;
    width: 30%;
    left: 5%;
    text-align: justify;
  }
}

//<% job = @jobs[8] %>
//<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />       
//<h3 class="box-70"><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
//<p class="box-70"><%= description_snippet(job) %></p>
//<div class="overview box-70">
//  <%= job.listing_company.overview %>
//</div>

.w-30{ 
  width: 30%; 
  
  img {
    width: 95%;
  }
}
// edited ^

.w-40{ width: 40%; }
.w-60{ width: 60%; }

.w-75{ width: 75%; }
.w-100{ width: 100%; }

.h-25{ height: 25%; }
.h-30{ height: 30%; }
.h-40{ height: 40%; }
.h-50{ height: 50%; }
.h-60{ height: 60%; }
.h-70{ height: 70%; }
.h-75{ height: 75%; }
.h-100{ height: 100%; }

.box-expanded.box-img-left .img-cont,
.box-img-left .img-cont {
  float: left;
  width: 40%;
  height: 100%;
  margin-right: 2%;
}

.box-img-left:after {
  left:  42%;
}

.box-img-left p {
  margin-left: 42%;
}

.box-img-right .img-cont {
  float: right;
  max-width: 30%;
  max-height: 30%;
  margin-left: 2%;
}

.box-img-right:after {
  right: 42%;
}

.box-img-right p {
  margin-right: 42%;
}

.title-top h3 { 
  padding-top: 0px;
}

.box-b-r {
  border-right: 1px solid #f2f2f2;
}

.box-b-l {
  border-left: 1px solid #f2f2f2;
}

.box-expanded {
  border: none;
  padding: 50px;
  z-index: 9999;

  .img-cont {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    float: left;
    max-width: 50%;
    max-height: 05%;
    margin-right: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  
  h3 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 0px;
  }
}


.box.box-expanded h3 span {
  font-size: 14px;
}

.box.box-expanded p {
  font-size: 20px;
  line-height: 30px;
}

.box.box-expanded:after {
  background: transparent;
}

.box-expanded .box-close {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 80px;
  height: 30px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 760px) {

  .f-title a {
    height: 30px;
    line-height: 14px;
    margin-top: 10px;
  }

  .f-title h2{
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
  }
  
}

@media screen and (max-width: 690px){
  
  .page .box {
    width: 100%;
    height: 20%;
    padding: 5px;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .page .box h3 {
    font-size: 16px;
  }
  
  .page .box h3 span,
  .page .box .img-cont,
  .page .box p,
  .page .box:after {
    display: none;
  }
  
  .box.box-expanded h3 {
    font-size: 26px;
    line-height: 30px;
    padding-top: 15px;
    clear: both;
  }
  
  .box.box-expanded p {
    font-size: 16px;
    line-height: 22px;
  }
  
  .box-img-left p,
  .box-img-right p {
    margin: 0;
  }
  
  .box.box-expanded h3 span {
    font-size: 12px;
  }
  
  body .box-expanded {
    padding: 40px 20px 20px;
  }
  
  body .box-expanded .img-cont {
    width: 100% !important;
    height: 50% !important;
    margin: 0;
  }
  
  .cover-elements {
    display: none;
  }

}



