<ul>
	<% Job.last(100).sample(10).each do |job| %>

		<% next if job.removed_users.include?(current_user) && @filter != 'removed' %>

		<li><%= render './jobs/job_listing_preview', locals: { job: job } %></li>
    
		<div id="div-append-<%= job.id %>"></div>
	<% end %>
</ul>
	

<%= render './layouts/background' %>
