<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<% applied_class = already_applied?(job) ? "applied_already fa fa-check" : "applied fa fa-check" %>       
<% saved_class = has_saved_job?(job) ? "saved fa fa-bookmark" : "save fa fa-bookmark" %>
<% removed_class = already_removed?(job) ? "removed_already fa-times-circle-o" : "remove fa fa-times" %>
                      
<div class="action-items">  
  <span>To Apply:</span>
  <%= link_to '  Direct on Company Website', job.link, class: 'fa fa-external-link' %>
  <%= link_to '  Through Wolfpack', '#', class: 'fa fa-paw' %>
  <%= link_to '  Save for Later', '#', class: 'fa fa-bookmark' %>
  <%= link_to '  Not Interested, Remove This', '#', class: 'fa fa-times' %>
</div>

