<% if current_user %>
	<%= form_for current_user, remote: true, html: { id: "pref-job-filter-form" } do |f| %>

		<div class="sidebar-middle">
	
			<!-- DEPARTMENT -->
			<div class="wrapper">
				<h1 class="company-stage">
					Company Stage:
					<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:dept] %>"></i>
					<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:dept] %>"></i>
				</h1>
				<ul class="job-filters">
					<!-- <%# Taxonomy.company_stages.each do |dept| %>
						<%# checked = is_pref_checked?(company-dept) %>
						<li class="job-sidebar department <%#= sel_or_hide(dept) %>">
							<i class="<%#= icon_dept_match(dept) %> left"></i>
							<%#= label_tag dept %>
							<%#= check_box_tag "user[job_settings][dept][]", dept, checked  %>
							<i class="fa fa-angle-right"></i>
							<i class="fa fa-times-circle"></i>								
						</li>
					<%# end %> -->
				</ul>
			</div>
		
			<%= f.submit "Submit" %>
		<% end %>
	
	</div>

	<div class="clear">
		<button id="clear-all">Clear All</button>
	</div>
<% end %>