.droppable-wrapper {
  width: 1050px;
  background-color: #FDFDFD;
  display: block;

  .skills-drop-banner {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    height: 20px;
    padding: 10px;
  }

  .skill-image {
    line-height: 75px;
    display: inline-block;

    img {
      vertical-align: middle;
      max-height: 50px;
    }
  }

  #edit-skills, #save-skills {
    position: absolute;
    right: 25px;
    font-size: 16px;
  }
  
  .is-droppable {
    background-color: #EBEBEB;
    border: 3px dashed #AAAAAA;
    border-radius: 5px;
  }  
  
  .skills-ul {
    
    li.user-skills {
      text-decoration: none;
      background-color: rgba(255,255,255,.8);
      border: 2px solid white;
      text-align: center; 
      display: inline-block;
      height: 75px;

      span.skill-icon-wrapper {
        display: inline-block;
        height: 75px;
        line-height: 75px;
        width: 75px; 
  
        i {
          font-size: 30px;
        }               
      }

      // this is the "Add a Skill" section
      &:last-of-type {
        width: 100%;
        font-size: 23px;
        font-style: italic;
        padding-left: 10px;
        color: lightgray;
      }
      
      img {
        height: 100%;
        background-color: white;
        cursor: pointer;
        z-index: 9999;
      }
      
    }
  }
}


