.droppable-wrapper {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  display: block;
  width: 640px;

  #edit-skills, #save-skills {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 16px;
  }
  
  .is-droppable {
    background-color: #EBEBEB;
    border: 3px dashed #AAAAAA;
    border-radius: 5px;
  }  
  
  .skills-ul {
    
    li.user-skills {
//      margin: 5px;
      text-decoration: none;
      background-color: rgba(255,255,255,.8);
      height: 60px;
      line-height: 60px;
      border: 2px solid white;
      
      // this is the "Add a Skill" section
      &:last-of-type {
        font-size: 23px;
        font-style: italic;
        padding-left: 10px;
        color: lightgray;
      }
      
      img {
        height: 100%;
        background-color: white;
        cursor: pointer;
        z-index: 9999;
      }
      
    }
  }
}


