ul.article-tags {
  height: 25px;
  line-height: 25px;
  margin-left: 5px;
  
  h1 {
    color: #333332;
    font-size: 13px;
    font-family: 'Clear Sans';
  }
  
  li {
    text-align: left;
    color: white;
    background-color: #b3b3b1;
    padding: 0px 3px;
    padding-right: 20px;
    margin-left: 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    
    i {
      font-size: 12px;
      position: absolute;
      right: 5px;
      top: 6px;
    }
  }
}

.social-sharing {
  .add-tags-wrapper {
    form {
      margin-top: 8px;
      margin-left: 5px;
    }
  }
}

.add-tags-wrapper {
        
  input {
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
  }
  
  input[type='submit'] {
    display: none;
  }
}