<div class="editor-class-wrapper">
	<div id="add_image_button"></div>
	<%= render './shared/editor'%>

	<!-- <section>
		<header>
			<hgroup>
				<h1 class="editable editor-heading" data-placeholder="Type your title"></h1>
				<h2 class="editable editor-heading" data-placeholder="Type your subtitle"></h2>
			</hgroup>
		</header> -->
		<article class="editable" data-placeholder="Type your post"></article>
	<!-- </section> -->
</div>
