<div class='in-page-navbar'>
	<div class="investor-menu-items">
		<ul>
			<li>Recent Posts:</li>
			<li>About Me</li>
			<li>Stuff I'm Working On</li>
			<li>Need Help With</li>
			<li>I'm Looking to Meet</li>
			<li>My Skills</li>
			<li>Bio</li>
			<li id="new-article">New Article</li>
		</ul>
	</div>
</div>