<% user = locals[:user] %>
<% recent_articles = locals[:recent_articles] %>

<div class='in-page-navbar'>
	<div class="investor-menu-items">
		<ul>
			<li>Recent Posts:</li>
			<% recent_articles.each do |article| %>
				<li><%= raw(article.title) %></li>
			<% end %>
			<li>
				<% url = "/user_articles?user_id=" + user.id.to_s %>
				<a href="<%= url %>" data-method="POST" id="new-user-article" >New Article</a>
				<%#= link_to 'New Article', user_articles_url, method: :post, id: 'new-user-article' %>
			</li>
		</ul>
	</div>
</div>