<% user = locals[:user] %>
<% articles = locals[:articles] %>
<% this_table = locals[:this_table] %>

<div class="section-wrap left">		
	<div id="top-id"></div>				
	
	<% if articles.any? %>
		<% articles.each do |article| %>
			<%= render './articles/new_article_form', locals: { object: user, article: article, this_table: this_table } %>
		<% end %>
	<% else %>
		<% new_article = Article.create %>
		<% user_article = UserArticle.create(user_id: user.id, article_id: new_article.id) %>
		<%= render './articles/new_article_form', locals: { object: user, article: new_article, this_table: this_table } %>
	<% end %>

  <div class="article skills">
  	<h3>My Skills</h3>
		<%= render 'shared/drop_zone', locals: { user: user } %>
    <%= render 'shared/box_of_logos', locals: { user: user }  %>
  </div>

</div>