// USER ACTION ITEMS
.user-action-items {
  margin-top: 13px;
  height: 275px;
  width: 265px;
  background-color: #b3b3b1;   
  
  ul {
    
    span {
      padding: 5px;   
      text-indent: 10px;  
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      background-color: rgba(0,0,0,.25);
      width: 96%;
      font-family: 'Lato';
    }
        
    li {
      font-family: 'Merriweather';      
      font-size: 13px;
      line-height: 25px;
      padding-left: 10px; 
      cursor: pointer;
      font-weight: 300;
      color: #464646;
      text-indent: 5px;
      padding-top: 3px;
      padding-bottom: 3px;
      
      &:first-of-type {
        margin-top: 6px;
      }
      
      &:hover {
        background-color: #333332;
        color: white;
      }
    }
    
  }
}