.investor-stat-summary {
  padding: 10px;
  height: 110px;
  width: 225px;
  color: #b3b3b1;
  position: relative;
  font-size: 15px;
  
  h1#stats {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  p#stats-p {
    font-size: 13px;
    line-height: 18px;
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
}

