<% if current_user %>
	<div class="hidden box-of-logos is-droppable">
		<ul class="box-of-logos-ul">
			<% Job.back_end_skills.sort.each do |skill| %>
				<ul>
					<% next if current_user.user_skills.map(&:skill).map(&:downcase).include?(skill.downcase)%>
					<li data-skill="<%= skill %>" data-user="<%= current_user.id %>">
						<%= insert_image_or_text(skill) %>
					</li>
				</ul>
			<% end %>
		</ul>
	</div>
<% end %>