<div class="editor-class-wrapper">
	<div id="editor">
		<div id="editor-mask">
			<div class="editor-buttons">
				<button class="icon icon-bold" id="editor-b" data-command="bold">&#xf032;</button>
				<button class="icon icon-italic" id="editor-i" data-command="italic">&#xf033;</button>
				<button class="icon icon-quote" id="editor-blockquote" data-command="quote">&#xe000;</button>
				<button class="heading" id="editor-h1" data-command="h1">h1</button>
				<button class="heading" id="editor-h2" data-command="h2">h2</button>
				<button class="heading" id="editor-h3" data-command="h3">h3</button>
				<!-- <button class="heading" id="editor-h4" data-command="h4">h4</button>
				<button class="heading" id="editor-h5" data-command="h5">h5</button>
				<button class="heading" id="editor-h6" data-command="h6">h6</button> -->
				<button class="icon icon-link" id="editor-a" data-command="a">&#xe001;</button>
			</div> <!-- editor-buttons -->
			
			<div id="editor-link-field-holder">
				<input type="text" id="editor-link-field" placeholder="Type or paste link">
				<button class="icon icon-remove" id="editor-cancel" data-command="cancel">&#xf00d;</button>
			</div> <!-- editor-link-field-holder -->
		</div> <!-- editor-mask -->
	</div> <!-- editor -->
</div>