<% article = locals[:article]%>

<div class="social-sharing">
	
	<div class="share-buttons-wrapper">

		<i class="fa fa-envelope"></i>			
	
		<div id="fb-root">
			<i class="fa fa-facebook-square">
				<% request_uri = 'http://localhost:3000/' %>
				<%= fb_share(ENV['FACEBOOK_APP_ID'], request_uri, 
					{
						display: "popup",
						link: request.original_url.gsub('localhost:3000', 'wolfpackbeta.com')
					}
				) %>
			</i>		
		</div>
	
		<i class="fa fa-linkedin-square"></i>		
		<!-- <i class="fa fa-tumblr-square"></i> -->
		
		<% tweet_default_text = article.title.nil? ? '' : "Just spreading the word! Check out: #{strip_tags(article.title.squish)} #{request.original_url.gsub('localhost:3000', 'wolfpackbeta.com')}" %>

		<a href="https://twitter.com/share?text=<%= tweet_default_text %>" 
			class="popup"
			target="_blank">
			<!-- data-text='Just spreading the word! Check out: <%#= strip_tags(article.title.squish) %>' -->
			<i class="fa fa-twitter-square"></i>
		</a>	

	</div>	
		
</div>		

<script src="//platform.linkedin.com/in.js" type="text/javascript" data-url="www.google.com">
  lang: en_US
</script>

<script type="IN/Share"></script>




