<% object = locals[:obj] %>
<% article = locals[:article]%>

<div class="uploader">
	<span class="insert-image-span">
		<i class="fa fa-picture-o"></i>
		<span>Insert an Image</span>	
	</span>

	<%= form_for Image.new, html: { multipart: true } do |form| %>
		<%= form.hidden_field :article_id, value: article.id %>
		<%= form.file_field :image_file %>
		<%= form.submit "Upload Image" %>
	<% end %>
		
</div>