<%# @feed = @jobs + @articles + @users %>
<% @feed = @jobs + @articles %>

<ul class="all-activity">
	<% @feed.shuffle.each do |feed_item| %>
			<% if feed_item.class == Job %>
				<li><%= render './jobs/job_listing_preview', locals: { job: feed_item } %></li>
			<% elsif feed_item.class == Article %>
				<% next if feed_item.title.nil? || feed_item.title.empty? %>	
				<li><%= render './articles/article_preview', locals: { article: feed_item } %></li>
			<% elsif feed_item.class == User %>
				<li><%= render './users/user_preview', locals: { user: feed_item } %></li>
			<% end %>
		
	<% end %>
</ul>

