<div class="admin">

	<%= form_for(@job) do |f| %>
	

		<%= f.text_field :link, placeholder: 'Link to job posting' %>		
		
		<%= f.text_field :link, placeholder: 'Link to job posting' %>
	
		<%= f.submit 'Post Job' %>
	
	<% end %>
</div>