<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>
<% company = locals[:company] %>

<div class="article-card-wrapper">

	<!-- Add a momentum score? -->
	<h2>Our "VC" Analysis</h2>
	<p class="companies-editable"
		contenteditable= "true"
		data-id="<%= company.id %>" 
		data-table="companies"
		data-model="company"
		data-attribute="wolfpack_commentary">
		<%= company.wolfpack_commentary || 'Wolfpack Commentary' %></p>

</div>








