<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>
<% company = locals[:company] %>

<div class="article-card-wrapper">
	
	<h1>Our "VC" Analysis</h1>
	<% commentary = (company.wolfpack_commentary.nil? || company.wolfpack_commentary.empty?) ? 
		'<p>Coming soon!</p>' : company.wolfpack_commentary %>

	<div class="companies-editable"
		contenteditable= "true"
		data-id="<%= company.id %>" 
		data-table="companies"
		data-model="company"
		data-attribute="wolfpack_commentary">	

		<%= raw(commentary) %>
	</div>

</div>








