<% company = locals[:company] %>
<% this_table = "companies" %>

<div class="company-top-wrapper group">
	<span class="left">
		<%= render './cards/company_bcard', locals: { company: company } %>
	</span>

	<span class="left">
		<%= render './cards/company_overview', locals: { company: company } %>
	</span>

	<span class="left">
		<%= render './cards/company_stats', locals: { company: company } %>
	</span>
</div>

<% if company.persisted? %>
	<%= render './shared/drag_and_drop', locals: { company: company } %>
<% end %>