<div class="company-sidebar">
	<%= render 'sidebar', locals: { 
		keywords: @keywords, 
		all_scopes: @all_scopes, 
		scopes_checked: @scopes_checked 
	} %>
</div>

<div class="companies-wrapper">
	<%#= paginate @companies %>
	
	<ul class="companies-posts">
		<% @companies.each do |company| %>
			<li class="company-wrapper">
				<%= render 'company', locals: { company: company } %>
			</li>
		<% end %>
	</ul>
	
</div><!-- companies-wrapper -->

<%= render './layouts/background' %>

<!-- <script type="text/javascript">
	$(document).ready(function() {
		$("span[data-autocomplete='true']").on('click', function() {
		  $('.dept').autocomplete({
		    source: "/search_suggestions"
		  })
		})
	})
</script> -->




