<%= render "./layouts/inpage_navbar" %>
	
<ul class="companies-posts">
	<% @companies.each do |company| %>
		<li class="company-wrapper">
			<%= render 'company', locals: { company: company } %>
		</li>
	<% end %>
</ul>
	





