<div class="f-sidebar-buffer">
	<%#= render 'sidebar', locals: { company: @company } %>
</div>

<div class="companies-wrapper">
	<%#= paginate @companies %>
	
	<ul class="companies-posts">
		<li>
			<%= render 'company', locals: { company: @company } %>
		</li>
	</ul>
</div>

<div class="jobs-background"></div>
<div class="jobs-background-overlay"></div>

<script type="text/javascript">
	$(document).ready(function() {
		$("span[data-autocomplete='true']").on('click', function() {
		  $('.dept').autocomplete({
		    source: "/search_suggestions"
		  })
		})
	})
</script>









