.arrow-left {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid rgba(189,195,199,.5);
  position: absolute;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #c0392b;

  // custom
  z-index: 1;
	position: absolute;
	bottom: -7px;
	left: 43%;
}