.droppable-wrapper {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  display: block;
  width: 640px;
  
  .is-droppable {
    background-color: #EBEBEB;
    border: 3px dashed #AAAAAA;
    border-radius: 5px;
  }  
  
  .skills-ul {
    
    li.user-skills {
//      margin: 5px;
      text-decoration: none;
      background-color: rgba(255,255,255,.8);
      height: 60px;
      line-height: 60px;
      border: 2px solid white;
      
      // this is the "Add a Skill" section
      &:last-of-type {
        font-size: 23px;
        font-style: italic;
        padding-left: 10px;
        color: lightgray;
      }
      
      img {
        height: 100%;
        background-color: white;
        cursor: pointer;
      }
      
      div.level-wrap {
        float: right;
        
        form {
          display: inline-block;
          
          label {
            margin-left: -5px;
            text-align: center;
    //        padding: 0px 15px;
            display: inline-block;
            height: 60px;
            width: 70px;
//            margin-left: -5px;
            color: white;
            font-family: 'Source Sans Pro';
            letter-spacing: 1px;

            &:nth-of-type(1) { 
              background-color: rgba(0,255,0,.5); 
              color: rgba(0,255,0,.2);
              &:hover { background-color: rgba(0,255,0,.75); color: rgba(255,255,255,.75); }
              &.selected { background-color: rgba(0,255,0,1); color: white; } 
            }
                        
            &:nth-of-type(2) { 
              background-color: rgba(0,204,0,.5); 
              color: rgba(0,204,0,.2); 
              &:hover { background-color: rgba(0,204,0,.75); color: rgba(255,255,255,.75); }
              &.selected { background-color: rgba(0,204,0,1); color: white;  } 
            }         
            
            &:nth-of-type(3) { 
              background-color: rgba(0,153,0,.5); 
              color: rgba(0,153,0,.2);               
              &:hover { background-color: rgba(0,153,0,.75); color: rgba(255,255,255,.75); }
              &.selected { background-color: rgba(0,153,0,1); color: white;  } 
            }                  

            &:nth-of-type(4) { 
              background-color: rgba(0,102,0,.5); 
              color: rgba(0,102,0,.2);              
              &:hover { background-color: rgba(0,102,0,.75); color: rgba(255,255,255,.75); }
              &.selected { background-color: rgba(0,102,0,1); color: white;  } 
            }

             &:nth-of-type(5) { 
               background-color: rgba(0,51,0,.5);
               color: rgba(0,51,0,.2);                
               &:hover { background-color: rgba(0,51,0,.75); color: rgba(255,255,255,.75); }
               &.selected { background-color: rgba(0,51,0,1); color: white;  } 
             }            
          }
          
          input[type='radio'], input[type='submit'] {
            display: none;
          }       
        }
      }
    }
  } 
}


.box-of-logos {
  margin-left: 20px;
  margin-top: 15px;
  height: 300px;
  width: 620px;
  background-color: lightgray;

  img {
    float: left;
    height: 60px;
    margin: 10px;   
    background-color: white; 
    cursor: pointer;
  }
}







