.droppable-wrapper {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  display: block;
  
  
  .is-droppable {
    height: 70px;
    width: 630px;
    background-color: #EBEBEB;
    border: 3px dashed #AAAAAA;
    border-radius: 3px;
  }
  
}