<div class="user-action-items group">
	<ul>
		<span>I'd be interested in:</span>
		<li>Receiving additional information</li>
		<li>Joining the Mailing List</li>
		<li>Applying to the program</li>
		<li>Connecting with Shannon</li>
		<li>Meeting a Fellow</li>
		<li>Hiring a Fellow</li>
	</ul>
</div>