<div class="investor-menu-items">
	<ul>
		<li>Programs: StartUp Academy</li>
		<li>Feed</li>
		<li>About</li>
		<li>Members</li>
		<li>Apply now!</li>
		<li>New Article</li>
		<li>Members Only</li>
	</ul>
</div>