<%= render 'sidebar' %>

<div class="company-wrapper">
	
	<ul class="company-posts">
		<% @investors.each do |investor| %>			
			<li class="company-wrapper">			
				<%= render 'investor', locals: { investor: investor } %>
			</li>
 		<% end %>
	</ul>
	
</div>

<%= render './layouts/background' %>