// USER BUSINESS CARD
.business-card {
  box-shadow: 0px 1px 2px #888888;
  height: 140px;
  width: 255px;
  background-color: white;
  text-indent: 0px;
  font-family: 'Neuton';
  padding: 5px;
  position: relative;

  .info {
    background: #b3b3b1;
//    background: #C2C1C2;
    height: 100%;
    position: relative;

    h1 {
      font-size: 19px;
      font-weight: 700;
//      letter-spacing: 1px;
      color: black;
    }
    
    h2 {
      font-size: 13px;
      font-weight: 400;
//      letter-spacing: 1px;
//      color: #333332;
//      color: #464646;
//      color: #b3b3b1;
      color: #333332;
      font-family: 'Merriweather';
    }    

    .full-name {
      position: absolute;
      top: 8px;
      left: 5px;
//      background-color: rgba(0,0,0,.3); 
      z-index: 2;
      padding: 3px;
      padding-left: 5px;
      
      h1, h2 {
        font-weight: 400;
        display: inline-block;
      }
    }
    
    .bcard-title, .bcard-employer {
//      background-color: rgba(0,0,0,.15);        
      padding: 3px 5px;      
      left: 5px;
      top: 40px;
      position: absolute;
      z-index: 10;    
        
      h2 {
        display: inline-block;
      }
    }
    
    .bcard-employer {
      left: 5px;
      top: 61px;      
    }

    .bcard-location, .bcard-location-two {
//      background-color: rgba(0,0,0,.25);
      padding: 3px 5px;
      position: absolute;
      z-index: 10;
    
      h2 {
        display: inline-block;
      }    
    }
    
    .bcard-location {
      left: 5px;
      bottom: 27px;      
    }

    .bcard-location-two {
      left: 5px;
      bottom: 5px;      
    }
    
        
    a.edit {
      text-decoration: none;
      position: absolute;
      top: 25px;
      left: 2px;
      color: black;
    }
  }

  img {
    position: absolute;
    top: 5px;
    right: 6px;
    opacity: .45;
	  -webkit-filter: grayscale(90%);
    height: 140px;
  }
}

// COMPANY OVERVIEW
.jobs-company-overview {
  position: absolute;
  background-color: rgba(0,0,0,.8);
  color: white;
  bottom: 0;
  height: 50px;
  text-align: left;
  padding: 5px 15px;          
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
}
