div.social-sharing {
  display: inline-block;
  width: 100%;
  background-color: #FAFAFA;
  text-indent: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -3px;
  position: relative;
  margin-top: -20px;
  
  div.share-buttons-wrapper {
    // height: 40px;
    // line-height: 30px;
    // width: 500px;
    display: inline-block;
    
    span {
      margin-top: 3px;
      font-weight: 300;
      color: #333332;
      font-family: 'Clear Sans';
    }
        
 
  }
}



a.delete-article-link {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: #c0392b;
}

// this is a hack for articles
.profile-wrapper {

	.in-page-navbar {
		width: 962px;
		background-color: #333332;
	}

  .section-wrap {
    
    .content {
      width: 912px;
      padding: 25px;
      padding-bottom: 0;
      background-color: #FDFDFD;
      margin-left: 20px;
      margin-top: 15px; 
      position: relative;

      .whole-article-wrapper {
        width: 800px;
        display: inline-block;
        background-color: blue;

        h1 {
          font-size: 24px;
          padding: 0 0 8px 0;
          letter-spacing: 1px;
          font-family: 'Source Sans Pro', sans-serif;
        }
        
        article.body {
          margin: 0;
          // margin-bottom: 15px;
          padding: 0;
          
          p {
          	font-size: 20px;
            margin: 0;
            margin-top: 10px;
          }        
        }
        

      }
        .uploader {
          margin-bottom: 20px;
          margin-left: 5px;
        }
      .social-sharing {
        width: 50px;
        display: inline-block;
        
        span {
          margin-left: 5px;
        }
      }      
    }
  }  
}

.article.skills {	
  padding: 25px;
  padding-bottom: 10px;
  background-color: #FDFDFD;
  width: 912px;
  margin-left: 20px;
  margin-top: 15px;
  position: relative; 
 
  h3 {
    padding-top: 15px;
  }

  a {
    float: right;
    margin-right: 10px;
    font-size: 13px;
    padding: 2px 7px;
    color: #3498db;
    border: 2px solid #3498db;
    
    &:hover {
      border: 2px solid #3498db;
      background-color: #3498db;
      color: white;
    }           
  }
}  
