div.article-card-wrapper {
  // margin-top: 25px;
  width: 1019px;
  background-color: #fdfdfd;
  display: inline-block;  
  padding: 15px;

  h1.dark-banner {
    padding: 5px 12px;
    font-size: 26px;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(0,0,0,0.85);
    color: #fdfdfd;
    letter-spacing: 2px;  
    width: 997px;  

    a {
      font-size: 16px;
      color: white;
    }    
  }

  h2 {
    font-size: 22px;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 15px;
    padding-left: 10px;
  }

  p {
    padding-top: 5px;
    font-size: 18px;
    line-height: 28px;
    font-family: 'PT Serif';
    padding-left: 10px;

  }
}

// THIS MAY BE OBSOLETE
.article-wrapper {
  width: 1050px;
  background-color: rgb(253,254,255);
  margin-top: 15px; 
  position: relative;
  // padding-bottom: 50px; 

  h1, .link {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #141312;
    width: 100%;
    font-weight: 900;
    padding: 20px 40px 10px 40px;
  }

  .link {
    font-size: 22px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  article.body {
    padding-bottom: 0px;
    
    p {
      &:first-of-type {
        margin-top: 10px;
      }

      margin: 0;
      margin-top: 15px;
      font-family: 'PT Serif';
      color: #515151;
      font-size: 22px;
      line-height: 35px;
      letter-spacing: 1px;
      padding-left: 42px;
      padding-right: 40px;
    }        
  }

  .uploader {
    padding-left: 40px;
    padding-right: 40px;   
    display: block; 
  }

  div.admin-options {
    background-color: rgba(0,0,0,0.05);
    padding-left: 42px;
    padding-right: 40px;
    padding-bottom: 15px; 
    margin-top: 40px;

    i.fa-cogs {
      display: block;
      line-height: 50px;
    }   

    a.delete-article-link {
      text-decoration: none;
      color: black;
    } 

    .add-tags-wrapper {
      margin-bottom: 10px;

      #tagging_tag_id {
        font-size: 13px;
      }

      i {
        margin-left: 3px;
        color: #AAAAAA;
        font-size: 14px;
        padding: 3px;      
      }
    }

    div.social-sharing {
      width: 100%;
      
      div.share-buttons-wrapper {
        display: inline-block;
        width: 100%;
        line-height: 35px;
        
        i {
          margin-left: 10px;
          float: left;
        }
      }
    }      
  }    
}  





