@mixin background-style {
  z-index: -9998;
  position: fixed;
  left: 215px;
  height: 100%;
  width: 100%;
  top: 2px;
}

.jobs-background {
  opacity: 1;
  background-color: rgb(245,245,245);
  // background-image: url('flip/fabric_plaid.png');
  @include background-style;
}

.jobs-background-overlay {
  background: url('app_images/pattern.png') repeat;   
  opacity: 0.4;    
  @include background-style;
}

.starry-background-overlay {
  background: url('app_images/starry.png') repeat;   
  opacity: .8;   
  @include background-style; 
}

.darkfabric-background-overlay {
  background: url('app_images/binding_dark.png') repeat;   
  opacity: 0.9;    
  @include background-style;
}

.diagonal-pattern {
  z-index: 9998;
  background: url(
    'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkQAP/gYARWQwsAAIwQZgAiA8WRBYAC6ILgAQBGkYUAlJke18AAAAASUVORK5CYII='
  ) repeat;
}







