.jobs-background {
  opacity: 1;
  z-index: -9999;
  position: fixed;
  top: 2px;
  left: 215px;
//  background-image: url('app_images/empirestate.jpeg');
  background-image: url('flip/fabric_plaid.png');
  height: 100%;
  width: 100%;
//  -webkit-filter: blur(0px) sepia(30%) grayscale(40%) brightness(100%);
}

.jobs-background-overlay {
  z-index: -9998;
  position: fixed;
  top: 45px;
  left: 215px;
//  left: 250px;
  background: url('app_images/pattern.png') repeat;   
  height: 100%;
  width: 100%;
  opacity: .4;    
}

.starry-background-overlay {
  z-index: -9998;
  position: fixed;
  top: 45px;
  left: 215px;
//  left: 250px;
  background: url('app_images/starry.png') repeat;   
  height: 100%;
  width: 100%;
  opacity: .8;    
}

.darkfabric-background-overlay {
  z-index: -9998;
  position: fixed;
  top: 45px;
  left: 215px;
//  left: 250px;
  background: url('app_images/binding_dark.png') repeat;   
  height: 100%;
  width: 100%;
  opacity: .9;    
}

.diagonal-pattern {
  z-index: 9999;
  background: url(
    'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkQAP/gYARWQwsAAIwQZgAiA8WRBYAC6ILgAQBGkYUAlJke18AAAAASUVORK5CYII='
  ) repeat;
}
