div.company-profile-wrapper {
  background-color: #FDFDFD;
  height: 160px;
  width: 1020px;
  margin-top: 25px;
  padding: 15px;

  // FOR COMPANIES
  div.company-logo-wrap {
    background-color: white;
    height: 160px;
    line-height: 160px;
    width: 200px;
    position: relative;
    display: inline-block;    

    img.company-logo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      vertical-align: middle;
      max-width: 85%;
      max-height: 85%;
      display: inline-block;
      -webkit-filter: grayscale(50%);
    }
  }

  div.company-desc {
    display: inline-block;
    background-color: rgb(250,250,250);
    height: 150px;
    width: 590px;
    padding-left: 15px;    
    padding-right: 15px;    
    padding-top: 10px; 
    text-align: justify;

    h1 {
      font-size: 23px;
      font-family: 'Clear Sans';
    }

    p {
      color: #464646;
      font-size: 18px;
      line-height: 25px;
      font-family: 'Source Sans Pro';
      margin-top: 6px;
    }
  }

  div.company-profile-action-items {
    display: inline-block;
    background-color: rgb(230,230,230);
    height: 140px;
    width: 170px;
    padding: 10px 15px; 
    position: relative;  

    a {
      display: inline-block;
      width: 200px;
      color: #7f8c8d;
      padding-bottom: 5px;

      &:hover {
        background-color: #2ecc71;
        color: white;
      }
    }

    // FOR COMPANIES
    h3 {
      line-height: 20px;
      position: relative;

      span:first-of-type {
        font-family: 'Clear Sans';
      }

      span:nth-of-type(2) {
        font-family: 'Source Sans Pro';
        position: absolute;
        left: 100px;
      }
    }
  }
}


