div.company-sidebar {
  input[type='submit'] {
    display: block;
  }
}

div.companies-wrapper {
  position: absolute;
  top: 75px;
  left: 300px;
  background-color: rgba(0,0,0,.5);
  margin-bottom: 30px;
  
  ul.companies-posts {
    width: 990px;

    li {
      padding: 5px;
      height: 100%;
      border-radius: 1px;
//      border-bottom: 5px solid rgba(0,0,0,.5);
      
      .company-top-wrapper {
        display: block;
        height: 150px;      
        
        div.logo {
          position: relative;
          display: inline-block;
          width: 265px;
          height: 150px;
          background-color: white;

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            vertical-align: middle;
            max-width: 85%;
            max-height: 85%;
            display: inline-block;
            border-radius: 1px;
          }        
        }
      
        .company-intro {
          position: absolute;
          left: 250px;
          display: inline-block;
          margin-left: 20px;
          background-color: #232323;
          height: 120px;
          padding: 15px;
          width: 390px;
          
          h1, h3, p {
            color: white;            
          }
        
          h1 {
            font-weight: 900;

            a {
              color: white;              
              line-height: 30px;
              font-size: 22px;            
            }
          }

          p {
            font-weight: 600px;
            font-size: 16px;
            line-height: 24px;
            color: #b3b3b1;
          }        
        }
        
        .company-stats {
          background-color: #333332;
          padding: 10px 15px;
          float: right;
          height: 130px;
          width: 270px;
          color: #b3b3b1;
          position: relative;
          
          h3 {
            font-size: 13px;
            line-height: 19px;
            
            span:first-of-type {
              color: white;
            }
            
            span:nth-of-type(2) {
              position: absolute;
              left: 135px;
            }
          }
          
          a {
            text-align: center;
            line-height: 18px;
            bottom: 10px;
            padding: 4px 5px;
            width: 260px;
            background-color: black;
            position: absolute;
            color:  #5cb86e;
            font-family: 'Lato';
          }
        }
      }
      
      .company-mid-wrapper {
        display: block;
        
        .company-navbar {
          position: relative;
          top: 0px;
          height: 35px;
          line-height: 35px;
          width: 980px;
          background-color: #778899;
          
          a {
            float: left;
            border-left: 1px solid rgba(0,0,0,.2);
            padding-left: 10px;
            padding-right: 10px;
            color: white;
            font-size: 14px;
            font-family: 'Clear Sans';
            
            &:first-of-type {
              margin-left: 175px;
            }
            
            &:last-of-type {
              border-right: 1px solid rgba(0,0,0,.2);
            }
          }
          
          form.edit_company {
            float: right;
            display: inline-block;
            position: absolute;
            top: 8px;
            right: 10px;
            
            input[type='submit'] {
              border: none;
              float: right;
              position: absolute;
              display: inline-block;
              top: -5px;
              right: 5px;
              height: 15px;
              line-height: 15px;
              width: 50px;
            }
          }
        }
        
        div.content {
          width: 840px;
          padding-top: 20px;
          padding-bottom: 30px;
          padding-left: 70px;
          padding-right: 70px;
          text-align: justify;
          border-bottom: 2px solid rgba(0,0,0,.1);  
                              
          h1 {
            font-size: 28px;
            line-height: 50px;
            color: black;   
            margin-bottom: 10px;         
          }
          
          p {
            font-size: 20px;
            line-height: 30px;
            color: black;
            margin-bottom: 15px;            
          }
          
          &:nth-of-type(1) {
            background-color: rgb(246,236,253);
          }

          &:nth-of-type(2) {
            background-color: rgb(242,243,239);          
          }

          &:nth-of-type(3) {
            background-color: rgb(243,249,245);
          }

          &:nth-of-type(4){
            background-color: rgb(246,236,253);
          }

          &:nth-of-type(5) {
            background-color: rgb(243,249,245);
          } 
          
          &:nth-of-type(6) {
            background-color: rgb(246,236,253);
          }
          
          &:nth-of-type(7) {
            background-color: rgb(243,249,245);
          }                 
                      
          &:nth-of-type(8) {
            background-color: rgb(246,236,253);
          }                             

        }        
      }
    }
    
    input {
      display: block;
    }
  }
}



