@mixin span-icon-style {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  width: 75px; 

  i { font-size: 30px; }   
}

@mixin li-icon-style {
  text-decoration: none;
  background-color: rgba(255,255,255,.8);
  border: 2px solid white;
  text-align: center;
  height: 75px;
  margin: 3px;

  img {
    height: 100%;
    background-color: white;
    cursor: pointer;
    z-index: 9999;
  }  
}

// DROPZONE
div.droppable-wrapper {
  width: 1050px;
  background-color: rgb(245,245,245);
  display: block;

  h1 {
    a#edit-skills, a#save-skills {
      position: absolute;
      right: 70px;
      font-size: 16px;
      color: white;
    }    
  }

  ul.skills-ul {
    li.user-skills {
      @include li-icon-style;
      display: inline-block;

      // this is the "Add a Skill" section
      &:last-of-type {
        width: 100%;
        font-size: 23px;
        font-style: italic;
        padding-left: 10px;
        color: lightgray;
        line-height: 35px;
        height: 35px;
        text-align: left;
        border: none;
        background-color: none;
        width: 1050px;
        display: none;
      }  

      span.skill-image {
        line-height: 75px;
        display: inline-block;

        img {
          vertical-align: middle;
          max-height: 50px;
        }
      }          

      span.skill-icon-wrapper {
        @include span-icon-style;              
      }
    }
  }   
}


// DRAGGABLE
.box-of-logos {
  margin-top: 15px;
  height: 300px;
  width: 1050px;
  background-color: lightgray;

  .box-of-logos-ul {
    position: relative;

    li {
      @include li-icon-style;

      span.skill-icon-wrapper {
        @include span-icon-style;              
      }      

      a {
        top: 5px;
        color: black;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
      }

      img {
        float: left;
        height: 60px;
        margin: 10px;   
        background-color: white; 
        cursor: pointer;
      }      
    }
  }
}