.preview-bcard-wrapper {
  form.edit_user {
    position: absolute;
    top: 2px;
    left: 25px;
        
    input[type='file'] {
      display: none;
      position: absolute;
      top: 50px;
      left: 150px;
    }
    input[type='submit'] {
      display: block;
      border: none;
      position: absolute;
      top: 0px;
      left: 125px;
      height: 22px;
      background-color: #27ae60;
      color: white;
    }
  }
}

form.new_job {
  height: 20px;
  width: 100%;
  margin-top: 5px;

  input[type='text'] {
    border: none;
    margin-left: 15px;
    width: 200px;
    text-indent: 10px;
  }
  
  input[type='submit'] {
    border: none;
    height: 15px;
    line-height: 15px;
  }
      
  input[type='text'], input[type='submit'] {
    float: left;
  }
}

div.wolfpack-report {
  margin-top: 25px;
  width: 1050px;
  background-color: #fdfdfd;
  display: inline-block;  

  h2 {
    font-size: 20px;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 20px;
  }

  p {
    font-family: 'PT Serif';
    padding: 5px 20px;
  }
}
