// FONTS
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

// GENERAL STYLES
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.modal-background {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  z-index: 1;
}

.hidden {
  display: none;
}

.hide {
  opacity: 0;
}

.show {
  display: block;
}


