@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face{ 
	font-family: 'Clear Sans';
	src: asset-url('ClearSans-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:asset-url('icomoon.eot');
  src:asset-url('icomoon.eot?#iefix') format('embedded-opentype'),
      asset-url('icomoon.woff') format('woff'),
      asset-url('icomoon.ttf') format('truetype'),
      asset-url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontMfizz";
  src: url("font-mfizz.eot");
  src: url("font-mfizz.eot?#iefix") format("embedded-opentype"),
       url("font-mfizz.woff") format("woff"),
       url("font-mfizz.ttf") format("truetype"),
       url("font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(254,254,254);
}

div.main-content-wrapper {
  position: absolute;
  top: 75px;
  left: 20%;
  margin-bottom: 20px;

  ul > li {
    position: relative;
    display: inline-block;  

    a { 
      display: inline-block; 
    }  
  }
}

// MIXINS
h1.dark-banner {
  padding: 5px 20px;
  font-size: 26px;
  line-height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(0,0,0,0.85);
  color: #fdfdfd;
  letter-spacing: 2px;    
}











