@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

nav.navbar-wrapper {
  font-size: 1.2em;
  line-height: 30px;
  height: 30px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  
  a, a:visited {
    color: #566473;
    margin-left: 15px;
  }
  
  .logo {
    font-size: 18px;
    margin-left: 10px;
  }
  
  div.menu {
    font-size: 16px;
    display: inline-block;
    margin-left: 150px;
    a, a:visited {
      color: black;
      font-weight: 900;      
    }
  }
  
  div.session {
    font-size: 16px;
    float: right;
    margin-right: 10px;
  }
}

div.sidebar-wrapper {
  margin-top: 30p;
  height: 100%;
  width: 200px;
  position: fixed;
  font-family: 'Lato', sans-serif;
  background-color: rgba(243,249,245,.75);
  border-right: 1px solid rgba(0,0,0,.05);
  
  h1:first-of-type {
    margin-top: 10px;
  }
  
  h1 {
    text-indent: 15px;
    line-height: 35px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: -5px;
    color: rgba(50,50,50,1);
    text-transform: uppercase;
  }
  
  li {
    text-indent: 20px;
    line-height: 30px;
    font-size: 16px;
    color: rgba(160,160,160,1);
  }
  
  li:hover, .selected {
    background-color: #2ecc71;
    color: rgba(255,255,255,1);
    cursor: pointer;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  input[type='submit'] {
    display: none;
  }
}

div.jobs-wrapper {
  padding: 10px;
  margin-left: 200px;
  height: 100%;
  width: 100%;
  
  .new-job-wrapper {
    background-color: #ecf0f1;
    line-height: 30px;
    height: 30px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    a.new-job-post {
      float: right;
      line-height: 30px;
      margin-right: 10px;
    }
    
    div#file {
      float: right;
      color: red;
      margin-right: 100px;
    }

    form {
      display: inline-block;
      float: right;
      width: 20px;
      margin-right: -170px;
      margin-top: -3px;
      
      #file {
        display: none;
      }
      
      input {
        border: none;
      }
    }
  }
  

  
  ul.job-posts {
    width: 900px;
    padding: 5px;
    
    li {
      border: 1px solid rgba(0,0,0,.15);
      height: 100px;
      margin-bottom: 10px;
    }
    
    img {
      height: 75px;
      float: left;
      display: inline-block;
    }
    
    .description {
      margin-top: 5px;
      margin-left: 20px;
      float: left;
      height: 75px;
      width: 600px;
      display: inline-block;
    }
    
    p {
      margin-bottom: 5px;
      color: gray;
      font-size: 16px;
    }
    
    p:first-of-type {
      font-size: 18px;
      font-weight: 900;
      color: black;
    }
  }
}

















