div.jobs-wrapper {
  position: absolute;
  padding: 15px;
  top: 100px;
  left: 275px;
  background-color: rgba(0,0,0,.25);
  
  ul.job-posts {
    width: 900px;

    li {
      height: 105px;
      margin-bottom: 15px;  
      background-color: white;
      padding: 5px;
      border-radius: 1px;
      
      &:last-of-type {
        margin-bottom: 0px;   
      }
    }
    
    img {
      margin-top: 2px;
      margin-right: 3px;
      height: 100px;
      float: right;
      display: inline-block;
      border-radius: 1px;
    }
    
    .description {
      line-height: 25px;
      float: left;
      height: 75px;
      width: 555px;
      margin-left: 5px;
    }

    h1 {
      font-size: 20px;
      font-weight: 900;
      color: black;
      margin-bottom: 2px;
    }
    
    p {
      color: #555555;
      font-size: 16px;
    }

  }
  
  //  this isn't in use right now, was for importing via CSV
  //  .new-job-wrapper {
  //    border: 3px solid #ecf0f1;
  //    line-height: 35px;
  //    height: 30px;
  //    width: 900px;
  //    margin-top: 20px;
  //    margin-bottom: 20px;
  //    margin-left: 3px;
  //    padding-right: 1px;
  //    
  //    a.new-job-post {
  //      float: right;
  //      line-height: 30px;
  //      margin-right: 10px;
  //    }
  //    
  //    div#file {
  //      float: right;
  //      color: gray;
  //      margin-right: 100px;
  //    }
  //
  //    form {
  //      display: inline-block;
  //      float: right;
  //      width: 20px;
  //      margin-right: -170px;
  //      margin-top: -3px;
  //      
  //      #file {
  //        display: none;
  //      }
  //      
  //      input {
  //        border: none;
  //      }
  //    }
  //  }
}

div.jobs-background {
  opacity: .9;
  z-index: -9999;
  position: fixed;
  top: 75px;
  background-image: url('app_images/empirestate.jpeg');
  height: 100%;
  width: 100%;
  -webkit-filter: blur(0px) sepia(30%) grayscale(40%) brightness(100%);
}

div.jobs-background-overlay {
  z-index: -9998;
  position: absolute;
  top: 75px;
  left: 200px;
  background: url('app_images/pattern.png') repeat;   
  height: 100%;
  width: 100%;
  opacity: .4;    
}


















