div.jobs-wrapper {
  position: absolute;
  top: 75px;
  left: 200px;
  padding: 35px 100px;
  height: 100%;
  width: 100%;
  background-color: black;
  background: url('empirestate.jpeg');
  -webkit-filter: blur(0px) grayscale(50%);
  
  .new-job-wrapper {
    border: 3px solid #ecf0f1;
    background-color: rgba(236,240,241,.1);
    line-height: 35px;
    height: 30px;
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    padding-right: 1px;
    
    a.new-job-post {
      float: right;
      line-height: 30px;
      margin-right: 10px;
    }
    
    div#file {
      float: right;
      color: gray;
      margin-right: 100px;
    }

    form {
      display: inline-block;
      float: right;
      width: 20px;
      margin-right: -170px;
      margin-top: -3px;
      
      #file {
        display: none;
      }
      
      input {
        border: none;
      }
    }
  }
  
  ul.job-posts {
    width: 900px;

    li {
      border: 1px solid rgba(0,0,0,.01);
      height: 101px;
      margin-bottom: 15px;
      box-shadow: 0px 1px 1px #888888;
      background-color: white;
      padding: 5px;
    }
    
    img {
      height: 100px;
      float: right;
      display: inline-block;
      border-radius: 1px;
    }
    
    .description {
      line-height: 25px;
      float: left;
      height: 75px;
      width: 600px;
      display: inline-block;
      overflow: none;
      margin-left: 5px;
    }
    
    p {
      margin-bottom: 2px;
      color: gray;
      font-size: 16px;
    }
    
    p:first-of-type {
      font-size: 18px;
      font-weight: 900;
      color: black;
    }
  }
}



















