div.jobs-wrapper {
  position: absolute;
  padding: 15px;
  top: 100px;
  left: 275px;
//  background-color: rgba(255,255,255,.35);
//  overflow: scroll;
  
  .top-bar {
    line-height: 30px;
    padding: 0px;
    background-color: rgba(0,0,0,.5);
    margin-top: -5px;
    color: rgba(230,230,230,1);
    font-family: 'Lato';
    
    a {
      color: #ecf0f1;
      font-size: 13px;
      border: 1px solid #ecf0f1;
      display: inline-block;
      padding: 4px;
      line-height: 13px;
      font-size: 13px;
      
      &:first-of-type {
        margin-left: 4px;
      }
    }
    
    .view-options {
      float: right;
      line-height: 13px;
      margin-top: 3px;
      border: 1px solid white;
      margin-right: 4px;

      a {
        border: none;
      }
      
      i {
        padding-right: 3px;
      }
    }
  }
  
  ul.job-posts {
    width: 900px;

    div.forward-form {
      background-color: rgba(0,0,0,.25);
      padding: 5px 0px 6px 10px;
      
      #email_info_email {
        width: 150px;
      }
      
      #email_info_subject {
        width: 400px;
      }
      
      input {
        background: rgba(255,255,255,.9);
        border: none;
      }
      
      input[type='submit'] {
        height: 20px;
        width: 40px;
        border: 3px solid #c0392b;
        color: white;
        background-color: rgba(192,57,43,.75);
        
        &:hover {
          background-color: white;
          color: rgba(192,57,43,.75);          
        }
      }
    }
    
    li {
      height: 165px;
      border-bottom: 4px solid rgba(0,0,0,.25);
      background-color: rgba(255,255,255,.9);
      padding: 5px;
      border-radius: 1px;
      
      &:last-of-type {
        border-bottom: none;  
      }
    }
    
    .company-section {
      background-color: rgba(250,250,250,1);      
      height: 155px;
      width: 300px;
      margin-right: 3px;
      float: right;
      display: inline-block;
      text-align: center;
      margin-top: 5px;    
      position: relative;
      
      img {
        display: inline-block;
        max-height: 50%;
        max-width: 80%;
        margin-top: 15px; 
      }
      
      .overview {
        position: absolute;
        bottom: 0;
        height: 38px;
//        background-color: gray;
        text-align: left;
        padding: 20px;          
        font-size: 15px;
        line-height: 19px;
        
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }
    
    .description {
      line-height: 25px;
      float: left;
      width: 550px;
      margin-left: 5px;
      
      .job-title-and-link {

        h1 {
          line-height: 30px;
          font-size: 16px;
          font-weight: 900;
          font-style: bold;
          color: black;
          display: inline-block;
        }
        
        a.view, a.forward {
          color: #95a5a6;
          font-size: 13px;  
          text-decoration: underline;
          padding: 10px 2px;
        
          &:hover {
            color: #2c3e50;
          }         
        }  
        
        a.viewed {
          color: #bdc3c7;    
          font-size: 13px;  
          text-decoration: underline;               
          padding: 5px;
        }
                     
      }

            
      p {
        color: #555555;
        font-size: 16px;
        background-color: rgba(255,255,255,1);
        height: 130px;
        margin-top: 5px;
      }
      
      .action-items {
        width: 300px;
  //      float: left;
        margin-top: -15px;

        a {
          float: left;
          display: inline-block;
          margin-left: 5px;
          margin-top: -15px;
  //        background-color: rgba(255,255,255,.4);  
          cursor: pointer;
          font-size: 12px;
          padding: 3px 5px;
          font-weight: 500;
          line-height: 16px;

          &.remove {
            border: 3px solid #7f8c8d;
            color: #7f8c8d;   
            
            &:hover {
              background-color: #7f8c8d;
              color: white;
            }
          }

          &.save {
            border: 3px solid #2980b9;          
            color: #2980b9;   

            &:hover {
              background-color: #2980b9;
              color: white;
            }
          }
          
          &.saved {
            border: 3px solid #2980b9;
            background-color: #2980b9;
            color: white;
          }          
        }
      }
    }

    h1 {
      font-size: 20px;
      font-weight: 900;
      color: black;
      margin-bottom: 2px;
      background-color: rgba(255,255,255,1);
    }

  }
  
  //  this isn't in use right now, was for importing via CSV
  //  .new-job-wrapper {
  //    border: 3px solid #ecf0f1;
  //    line-height: 35px;
  //    height: 30px;
  //    width: 900px;
  //    margin-top: 20px;
  //    margin-bottom: 20px;
  //    margin-left: 3px;
  //    padding-right: 1px;
  //    
  //    a.new-job-post {
  //      float: right;
  //      line-height: 30px;
  //      margin-right: 10px;
  //    }
  //    
  //    div#file {
  //      float: right;
  //      color: gray;
  //      margin-right: 100px;
  //    }
  //
  //    form {
  //      display: inline-block;
  //      float: right;
  //      width: 20px;
  //      margin-right: -170px;
  //      margin-top: -3px;
  //      
  //      #file {
  //        display: none;
  //      }
  //      
  //      input {
  //        border: none;
  //      }
  //    }
  //  }
}

div.jobs-background {
  opacity: .9;
  z-index: -9999;
  position: fixed;
  top: 75px;
  background-image: url('app_images/empirestate.jpeg');
  height: 100%;
  width: 100%;
  -webkit-filter: blur(0px) sepia(30%) grayscale(40%) brightness(100%);
}

div.jobs-background-overlay {
  z-index: -9998;
  position: absolute;
  top: 75px;
//  left: 250px;
  background: url('app_images/pattern.png') repeat;   
  height: 100%;
  width: 100%;
  opacity: .4;    
}


























