div.wolfpack-option-popup {
  position: absolute;
  display: block;
  top: 20px;
  left: 0px;
  z-index: 9999;
  background-color: white;

  .article-card-wrapper.wolfpack-popup {
    background-color: white;

    h2 {
      padding-top: 0px;
    }
  }

  h2.dark-banner, p.users-editable, p.reminder {
    margin-left: 25px;
  }

  h2.dark-banner {
    font-size: 20px;
  }

  .users-editable {
    margin-left: 15px;
    line-height: 30px;  
    border: 2px solid rgba(140,140,140,0.5);  
    width: 90%;
    margin-top: 8px;
    text-indent: 5px;
    color: rgb(40,40,40);
  }

  p.reminder {
    margin-top: 15px;
    padding-bottom: 10px;
  }

  .action-items.wolfpack-popup {
    height: 30px;
    background-color: white;
    padding-bottom: 10px;

    #cancel, #done {
      display: inline-block;
      line-height: 25px;
      height: 25px;
      width: 75px;
      text-align: center;
      color: white;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    #cancel {
      background-color: #c0392b;
      position: absolute;
      bottom: 25px;
      left: 120px;      
    }

    #done {
      background-color: #2ecc71;
      position: absolute;
      display: inline-block;
      bottom: 25px;
      left: 10px;
      line-height: 22px;
      border: none;
      width: 100px;
      font-size: 15px;
    }
  }
}

li.job-link {
  .fa-mail-forward {  
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.2);; 
    padding: 5px;
    background-color: rgba(0,0,0,0.02); 
  }    
}

div.preview-action-items {
  width: 532px;
  height: 25px;
  line-height: 25px;
  bottom: 10px;
  right: 255px;
  position: absolute; 
  // background-color: yellow;
  
  span {
    margin-left: 3px;
  }

  a.icon {
    margin-left: 5px;
    font-size: 14px; 
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color: rgb(141,141,141); 

    &:hover {
      background-color: rgba(0,0,0,.5); 
    }     

    &.selected {
      color: #2ecc71;                
    }    
  }  
}  

div.action-items {
  background-color: rgba(0,0,0,0.15); 
  line-height: 35px;

  span {
    background-color: rgba(0,0,0,0.05);
    background-color: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    display: inline-block;
    line-height: 35px;
  }

  a {
    color: gray;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.05);
  }
}