li#wolfpack-option-popup {
  position: absolute;
  top: 5px;
  z-index: 9999;

  .article-card-wrapper.wolfpack-popup {
    background-color: rgb(230,230,230);

    h2 {
      padding-top: 0px;
    }
  }

  .action-items.wolfpack-popup {
    height: 30px;
    background-color: white;
    padding-bottom: 10px;

    #cancel, #done {
      display: inline-block;
      line-height: 25px;
      height: 25px;
      width: 75px;
      text-align: center;
      color: white;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    #cancel {
      background-color: #c0392b;
    }

    #done {
      background-color: #2ecc71;
    }
  }
}

li.job-link {
  .fa-mail-forward {  
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.2);; 
    padding: 5px;
    background-color: rgba(0,0,0,0.02); 
  }    
}

div.preview-action-items {
  width: 34px;
  height: 50px;
  line-height: 25px;
  top: 5px;
  right: 255px;
  height: 142px;
  position: absolute; 
  
  span {
    margin-left: 5px;
  }

  a:first-of-type {
    border-top: 1px solid rgba(0,0,0,0.05);
  }

  a.applied, a.view, a.forward, a.remove, a.save, a.viewed, a.fa-external-link-square,
  a.applied_already, a.removed_already, a.saved {
    font-size: 17px; 
    display: block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.1);
  }  
  
  a.applied, a.view, a.forward, a.remove, a.save, a.viewed, a.fa-external-link-square {
    color: rgb(141,141,141);      
  }  

  a.viewed, a.saved, a.applied_already, a.removed_already {
    color: #2ecc71;                
  }

  a:hover {
    background-color: rgba(0,0,0,.5); 
  }  
}  

div.action-items {
  background-color: rgba(0,0,0,0.15); 
  line-height: 35px;

  span {
    background-color: rgba(0,0,0,0.05);
    background-color: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    display: inline-block;
    line-height: 35px;
  }

  a {
    color: gray;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.05);
  }
}