nav.navbar-wrapper {
  border-top: 2px solid #00080E;
  padding-bottom: 3px;
  line-height: 40px;
  width: 100%;
  position: fixed;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  background-color: white;
  z-index: 9998;
  
  i.fa-bars {
    padding: 12px 16px 12px 14px;
    border-right: 1px solid rgba(0,8,14,.15);
    color: #00080E;
    
    &:hover {
      color: #BE2121;
    }
  }
  
  a.logo {
    color: black;
    font-weight: 900;
    margin-left: 15px;
    
    &:hover {
      color: #BE2121;
    }
  }
  
  a.logo:nth-of-type(3) {
    top: 0px;
//    font-style: italic;
    position: relative;
    color: black;
    background-color: none;
    border: 3px solid black;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
    font-weight: 600;
    margin-left: -2px;
    text-align: center;
  }
  
  div.menu {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-left: 23%;
    color: rgba(80,80,80,1);
          
    a, a:visited {
      color: rgba(140,140,140,1);
      font-weight: 500;
      padding: 4px 10px;  
      border-radius: 2px;

      &:hover, &.selected {
        background-color: rgba(0,0,0,.5);
        color: white;
      }       
    }
  }
  
  div.session {
    font-size: 20px;
    float: right;
    margin-right: 40px;
    
    a, a:visited {
      font-size: 17px;
      color: #00080E;
      font-weight: 900; 
      
      &:hover {
        color: #BE2121;
      }   
    }
    
    i {
      position: relative;
      right: -95px;
      font-size: 16px;
      
      &:hover {
        color: #BE2121;
      }
    }
  }
  
  span.coming-soon {
    position: absolute;
    border-radius: 3px;
    line-height: 23px;
    width: 475px;
    left: 530px;
    top: 10px;
    border: 2px solid rgba(0,0,0,.5);
    
    span.wrapper {
      background: url('app_images/binding_dark.png');
      opacity: .4;    
      height: 23px;
      width: 100%;
      display: inline-block; 
      float: left;
    }
    
    h1 {
      float: left;
      position: absolute;
      left: 364px;
      top: 1px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      letter-spacing: 1px;
      color:white;
      text-shadow: 0px 1px 1px white;
      font-family: 'Pathway Gothic One', sans-serif;
      background: url('app_images/binding_dark.png');
      opacity: .65;
      font-size: 14px;
      width: 90px;
    }
  }
}

nav.navbar-wrapper-two {
  position: fixed;
  top: 45px;
  line-height: 30px;
  height: 30px;
  width: 100%;
  background-color: #bdc3c7;
  text-align: center;
  z-index: 9998;
  
  h3 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgba(49,69,89,.15);  
    
    a {
      color: white;
    }
  }
  
  h3.dashboard {
    background-color: rgba(230, 126, 34,.65);  
  }
  
  h3.mail {
    background-color: rgba(26,188,156,.5);
  }
  
  h3.rolodex {
    background-color: rgba(41, 128, 185, .5);
  }
  
  h3.profile {
    background-color: rgba(142, 68, 173, .5);
  }
}


