nav.navbar-wrapper {
  border-top: 3px solid #00080E;
//  padding-bottom: 3px;
  line-height: 42px;
  width: 100%;
  position: fixed;
  font-family: 'PT Serif', serif;
  font-size: 19px;
  background-color: rgba(255,255,255,.5);
  z-index: 9997;
  
  i.fa-bars {
    padding: 12px 16px 12px 14px;
    border-right: 1px solid rgba(0,8,14,.15);
    color: #00080E;
    
    &:hover {
      color: #BE2121;
    }
  }
  
  span.logo-top {  
    
    &:hover {
      a.logo, a.logo-two {
        color: rgb(192, 57, 43);
      }
    }
    
    a.logo, a.logo-two {
      color: #333332;
      font-weight: 900;
      margin-left: 10px;
    }
  
    a.logo-two {
      margin-left: -3px;
      color: #b3b3b1;
    }
  }  
  
  div.menu {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-left: 20%;
    color: rgba(80,80,80,1);
          
    a, a:visited {
      color: rgba(140,140,140,1);
      font-weight: 500;
      padding: 4px 10px;  
      border-radius: 2px;

      &:hover, &.selected {
        background-color: #2ecc71;
        color: white;
      }       
    }
  }
  
  div.session {
    font-size: 20px;
    float: right;
    margin-right: 40px;
    margin-top: -2px;
    
    a, a:visited {
      font-size: 17px;
      color: #00080E;
      font-weight: 900; 
      
      &:hover {
        color: #BE2121;
      }   
    }
    
    i {
      position: relative;
      right: -95px;
      font-size: 16px;
      
      &:hover {
        color: #BE2121;
      }
    }
  }
  
  span.coming-soon {
    position: absolute;
    border-radius: 3px;
    line-height: 23px;
    width: 475px;
    left: 530px;
    top: 10px;
    border: 2px solid rgba(0,0,0,.5);
    
    span.wrapper {
      background: url('app_images/binding_dark.png');
      opacity: .4;    
      height: 23px;
      width: 100%;
      display: inline-block; 
      float: left;
    }
    
    h1 {
      float: left;
      position: absolute;
      left: 364px;
      top: 1px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      letter-spacing: 1px;
      color:white;
      text-shadow: 0px 1px 1px white;
      font-family: 'Pathway Gothic One', sans-serif;
      background: url('app_images/binding_dark.png');
      opacity: .65;
      font-size: 14px;
      width: 90px;
    }
  }
}

nav.navbar-wrapper-two {
  position: fixed;
  top: 45px;
  line-height: 30px;
  height: 30px;
  width: 215px;
  background-color: #bdc3c7;
  text-align: center;
  z-index: 9998;
  
  h3 {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgba(49,69,89,.15);  
    
    a {
      color: white;
    }
  }
  
  h3.dashboard {
    background-color: rgba(230, 126, 34,.65);  
  }
  
  h3.mail {
    background-color: rgba(26,188,156,.5);
  }
  
  h3.rolodex {
    background-color: rgba(41, 128, 185, .5);
  }
  
  h3.profile {
    background-color: rgba(142, 68, 173, .5);
  }
}

// JOBS NAVBAR
.top-bar {
  line-height: 30px;
  background-color: rgba(0,0,0,.5);
  color: rgba(230,230,230,1);
  font-family: 'Lato';
  
  a {
    color: #ecf0f1;
    font-size: 13px;
//    border: 1px solid #ecf0f1;
    display: inline-block;
    padding: 4px;
    line-height: 13px;
    font-size: 13px;
    
    &:first-of-type {
      margin-left: 4px;
    }
  }
  
  span.view-options {
    float: right;
    line-height: 5px;
    border: 1px solid white;
    margin-right: 4px;
    padding: 0;
    margin: 0;
    padding: 0;

    a {
      border: none;
    }
    
    i {
      padding-right: 3px;
    }
  }
}

.in-page-navbar {
  height: 30px;
  line-height: 30px;
  width: 965px;
  background-color: #b3b3b1;
  margin-top: 15px;
  margin-left: 20px;
  
  li, li > a {
    float: left;
    padding-left: 8px;
    padding-right: 8px;   
    color: #f4f5f0; 
    font-family: 'Clear Sans';
    cursor: pointer;
    
    &:first-of-type {
     margin-left: 5px;
    }
    
    &:last-of-type {
      float: right;
      margin-right: 1px;
      color: #34495e;
    }
  }
}


