div.paper {
  height: 50em;
  width: 55em;
  overflow: scroll;

  background-color: #FCFCFC;
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,.025), 
    hsla(0,0%,100%,.05) 33%, hsla(0,0%,0%,.05) 33%, hsla(0,0%,100%,.05) 67%, 
    hsla(0,0%,0%,.05) 67%, hsla(0,0%,100%,.025));
//  box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1),
//                  inset 0 0 1em hsla(0,0%,0%,.05),
//                  0 .1em .25em hsla(0,0%,0%,.5);
  position: fixed;
  left: 175px;
  top: 100px;
  padding: 15px;
  border: 1px solid rgba(0,0,0,.1);
  
  div.top-wrapper {
    width: 100%;
    height: 100%;
    
    .arrow-left {
      top: 145px;
      left: 190px;
    }
    
    .business-card {
      display: inline-block;
      float: left;
      margin-right: 0;
    }
    
    div.paper-wrapper {
      margin-left: 0px;
      height: 100%;
//      height: 215px;
      width: 695px;
      display: inline-block;
      float: right;
      background-color: rgba(189,195,199,.35);
//      padding: 15px;
      
      h1 {
        font-size: 25px;
        line-height: 30px;
        font-family: 'PT Serif', serif;
        font-weight: 900;
        color: #141510;
      }
      
      h3 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        color: #555555;
        font-family: 'Lato';
      }
      
    }
    
    div.bottom-left {
      margin-top: 5px;
      height: 300%;
      width: 170px;
      display: inline-block;
      float: left;
      background-color: rgba(55,153,220,.08);
//      background-color: rgba(149, 165, 166,.1);

      ul {
        padding: 10px;
        
        li {
          line-height: 30px;
        }
      }
    }
  }
  
  div.top-right {
    position: relative;
//    background-color: rgba(50,50,50,.13);
    height: 257px;
    width: 100%;   
//    padding: 15px;
    float: right;
  }
  
  div.middle-right {
    position: relative;
//    background-color: rgba(50,50,50,.1);
    height: 280px;
    width: 100%;  
//    padding: 15px;
    float: right;
  }
  
  div.bottom-right {
    position: relative;
//    background-color: rgba(50,50,50,.05);
    height: 255px;
    width: 100%;
//    padding: 15px;
    float: right;
  }
}

.paper:after {
 right: 1000em; 
 -webkit-transform: rotate(10deg);
 -webkit-transform-origin: 100% 100%;
}

.paper:before {
  left: 1000em; 
  -webkit-transform: rotate(-10deg);
  -webkit-transform-origin: 100% 100%;
  
};

div.users-background {
  background-color: #fff;
//  opacity: .9;
  z-index: -9999;
  position: fixed;
  top: 75px;
//  background-image: url('not_in_use/grungepaper.jpg');
  height: 100%;
  width: 100%;
//  -webkit-filter: blur(1px) sepia(30%) grayscale(40%) brightness(50%);
}

.sidebar-wrapper.user {
  background-color: #FCFCFC;
}

//div.users-background-overlay {
//  z-index: -9998;
//  position: absolute;
//  top: 75px;
////  left: 250px;
//  background: url('app_images/pattern.png') repeat;   
//  height: 100%;
//  width: 100%;
//  opacity: .4;    
//}
