.preview-bcard-wrapper {
  border-top: 5px solid #FAFAFA;  
  border-bottom: 5px solid #FAFAFA; 
  border-right: 5px solid #fafafa;  
  background-color: #f4f5f0;
  height: 171px;
  width: 247px;
  display: inline-block;
  line-height: 22px;
  overflow: hidden;
  color: #7E7E7E;
  position: relative;
  padding-right: 5px;

  // For jobs#new
  #change-company {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;

    span {
      font-size: 14px;
      color: #2980b9;
    }
  }

  .edit-business-card {
    position: absolute;
    top: 0px;
    left: 0px;

    form {
      margin: 0;

      input[type='text'] {
        display: block;
      }
    }
  }  

  h1, p {
    margin-left: 10px;
    margin-top: 10px;    
  }
  
  h1 {
    font-weight: 700;
    font-size: 16px;
    color: #443B34;
  }
  
  p {
    height: 85px;
    font-size: 14px;
    overflow: hidden;
  }
  
  a {
    color: black;
  }
} 