.preview-bcard-wrapper {
  background-color: #f4f5f0;
  height: 150px;
  width: 267px;
  display: inline-block;
  line-height: 22px;
  overflow: hidden;
  color: #7E7E7E;

  h1, p {
    margin-left: 10px;
    margin-top: 10px;    
  }
  
  h1 {
    font-weight: 700;
    font-size: 16px;
    color: #443B34;
  }
  
  p {
    height: 85px;
    font-size: 14px;
    overflow: hidden;
  }
  
  a {
    color: black;
  }
} 