.profile-wrapper {
  position: absolute;
  top: 75px;
  left: 300px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #E7E7E7;
  width: 1000px;
//  border: 1px solid rgba(0,0,0,.05);
  margin-bottom: 100px;
  padding-bottom: 20px;
  
  .userindex-snapshot-wrapper {
    height: 300px;
    width: 100%;
    background-color: gray;
    
    li {
      list-style: none;
    }
  }
  
  .profile-card-positions {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0,0,0,.1);
    border-left: 1px solid rgba(255,255,255,.25);
//    background-color: black;

    .company-business-card {
      margin-top: 15px;
    }

    .business-card {
      margin-top: 160px;
      border-top: 1px solid rgba(0,0,0,.1);
    }
    
  };
  
  h3, p {
    text-transform: none;
  }  
  
  // GENERAL
  h3 {
    font-size: 20px;     
    margin: 15px;
  	padding: 0 0 8px 0;
  	text-transform: uppercase;
  	border-bottom: solid 2px rgba(0,0,0,.25);
  	letter-spacing: 1px;
  	font-family: 'Source Sans Pro', sans-serif;
  }

  p {
  	margin: 15px;
    font-family: 'Lora', serif;      
	  font-size: 18px;
	  line-height: 24px;    	
  }
  
  // TOP SECTION ------------------
  
  .bcard-wrapper {
    width: 665px;

    .business-card {
      box-shadow: none;
    }
    
    #about {
      margin-top: 15px;
    	margin-left: 20px;
    	width: 665px;
    	background-color: rgba(255,255,255,1);
    	display: inline-block;      
    }
  } // bcard-wrapper

  // ------------------------------------------------------------------------------------------------------------------
    
  // MAIN CONTENT SECTION
  
	.section-wrap > div > h3:first-of-type {
	  margin-top: 5px;
	}
  	
  .section-wrap {
  	display: inline-block;
  	
  	.main-content {
  	  
  	  div:first-of-type > h3:first-of-type {
  	    margin-top: 15px; 
  	  }
  	  
      .article {	
        padding-bottom: 10px;
    	  background-color: rgba(255,255,255,1);
    	  width: 665px;
    	  margin-left: 20px;
  	   
        h3 {
          padding-top: 15px;
        }

        a {
          float: right;
          margin-right: 10px;
          font-size: 13px;
          padding: 2px 7px;
          color: #3498db;
          border: 2px solid #3498db;
          
          &:hover {
            border: 2px solid #3498db;
            background-color: #3498db;
            color: white;
          }           
        }
      }
	  } // article
	  
  }

}














