div.session-form {
  position: relative;
  margin: auto;
  top: 175px;
  height: 350px;
  width: 500px;
  border: 10px solid rgba(240,240,240,1);
  background-color: #3498db;
  border-radius: 3px;
  z-index: 2;
  padding: 5px;
  
  a.fa-times-circle {
    font-size: 15px;
    color: white;
    float: right;
  }

  .social.guest {
    top: 30px;
    background-color: rgba(52,73,94,.6);
    a {
      font-size: 14px;
      cursor: pointer;
    }
    &:hover {
      a { color: white; }
      background-color: rgba(52,73,94,.9);
    }
  }  
  
  .social {
    margin: auto;
    position: relative;
    display: inline-block;
    top: 40px;
    left: 100px;
    width: 300px;
    line-height: 35px;
    border-radius: 3px;
    margin-top: 10px;   
    background-color: rgba(52,73,94,.5);
    color: white; 
    font-size: 14px;
    text-align: center;
    
    a {
      padding: 1px;
      font-size: 18px;
      line-height: 35px;
      cursor: pointer;
      color: white;
      
      &:first-of-type{
        margin-left: 5px;
      }
    }
  }
  
  .login-wrap {
    background-color: rgba(0,0,0,.25);
    width: 270px;
    margin-left: 100px;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
    
    h1 {
      color: white;
      margin-bottom: 10px;
      font-size: 14px;
    }
    
    //  session is for login, user for new users
    #session_email, #session_password, 
    #user_email, #user_password, input[type="submit"] {
      border: none;
      margin: auto;
      position: relative;
      display: inline-block;
//      top: 65px;
//      left: 30px;
      width: 210px;
      height: 25px;
      border-radius: 3px;
      margin-top: 5px;
    }
  
    #session_email, #session_password, 
    #user_email, #user_password {
      text-indent: 3px;
      background-color: rgba(255,255,255,.7);
    
      &:hover, &:focus {
      background-color: rgba(255,255,255,1);      
      }
    }
  
    input[type="submit"] {
      border: 3px solid white;
      color: white;
      background-color: rgba(255,255,255,.4);  
      cursor: pointer;
      margin-bottom: 5px;
    
      &:hover, &:focus {
        background-color: #2c3e50;        
      };
    }
  }
}






