div.sidebar-wrapper {
  margin-top: 42px;
  margin-left: 0px;
  width: 215px;
  height: 100%;
  position: fixed;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255,255,255,.5);
  
  div.role-prefs {
    
    li {
      position: relative;      
      display: inline-block;
      text-decoration: none;
      line-height: 25px;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      background-color: rgba(192, 57, 43,.65);

      &:first-of-type {
        margin: 0;
        padding: 0;
        width: 108px;
        color: white;
      }
      
      &:nth-of-type(2) {
        position: absolute;
        color: white;
        width: 107px;
        right: 0;
      }
      
      &.selected {
        background-color: rgba(192,57,43,1);
      }
    }
  }
  
  // SEARCH FORM
  .search {
    position: relative;
    background-color: #bdc3c7;
    height: 45px;
    display: block;  
    
    
    &:hover {
      i.fa-search {
        color: #7f8c8d;
        
        &:hover {
         background-color: #3498db;
         color: white;
        }
      }
    }    

    input {
      top: 12px;
      left: 16px;
      border: none;
      height: 22px;
      border-radius: 2px;
      width: 175px;
      color: black;
      position: relative;
      margin-left: 4px;
      background-color: rgba(0,0,0,.1);
      
      &:hover, &:focus {
        background-color: white;
        border: 2px solid rgba(52,152,219,.5);
      }
    }

    i.fa-search {
      position: absolute;
      top: 13px;
      right: 22px;
      color: white;
      background-color: rgba(126,126,126,.01);
      line-height: 19px;
      width: 21px;
      text-align: center;
      border-radius: 2px;
      padding: 1px;
    }
  }
  
  // MIDDLE PORTION
  .sidebar-middle {
    height: 100%;
    overflow: auto;
    position: relative;
    cursor: pointer;
    
    .wrapper {
      border-bottom: 1px solid rgba(126,126,126,.1);
      
      &:last-of-type {
        border-bottom: none;
      }
      
      .first-h1 {
        background-color: #333332;
        color: white;
      }
    }
    
    // CATEGORIES
    h1 {
      background-color: #FAFAFA;
      font-size: 14px; 
      text-indent: 20px;
      line-height: 35px;
      color: black;
      text-transform: uppercase; 
      position: relative;
      
      i {
        position: absolute;
        right: 14px;
        top: 10px; 
        color: rgba(0,0,0,.5);
        font-weight: 100;
        font-size: 16px;       
      }
      
      i.fa-caret-down {
        color: rgba(2,119,158,1);
      }
      
      &:hover {
        color: rgba(2,119,158,.5);
        
        i {
          color: rgba(2,119,158,.5);
        }
      }
    }
    
    // BULLET POINTS
    li.job-sidebar {
      text-indent: 23px;
      line-height: 30px;
      color: rgba(121,121,121,1);
      text-transform: capitalize;
      position: relative;
      
      // THIS IS FOR PREFERENCES
      input[type='text'] {
        background-color: rgba(240,240,240,.5);
        border: none;
        width: 60px;
        position: absolute;
        top: 8px;
        right: 5px;
        text-align: center;
      }

      &:last-of-type {
        margin-bottom: 3px;
      }
      
      i {
        position: absolute;
        right: 13px;
        margin-top: 7px;
        display: none;
        font-size: 15px;
        font-weight: 900;
      }     
      
      &:hover {
        background-color: rgba(46, 204, 113, .25);
        
        i.fa-angle-right {
          display: inline-block;
          color: rgba(46, 204, 113, .5); 
          font-size: 15px;
        }        
      }
      
      &.selected {
//        background-color: rgba(46, 204, 113, .1); 
        color: rgba(26,26,26,1);
        
        i.fa-times-circle {
          display: none;
        }

        i.fa-angle-right {
          display: inline-block;
          color: rgba(46, 204, 113, 1); 
          font-size: 15px;           
        }
        
        &:hover {
          background-color: rgba(50,50,50,.05);
                  
          i.fa-angle-right {
            display: none;
          }
          
          i.fa-times-circle {
            display: inline-block;
            color: #CCCCCC; 
            font-size: 15px;
            right: 10px;
          }          
        }
      }
    }

    li.department {
      padding-left: 15px;
      
      i.left {
        display: inline-block;
        left: -4px;
        margin-top: 11px;
        color: #1D1D1D;
        font-size: 12px;
      }
    }    
  }
  
  // CLEAR PORTION
  .clear {
    background-color: white;
    height: 65px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 215px;

    #clear-all-roles, #clear-all-prefs {
      border: none;
      margin-top: 20px;
      margin-left: 23px;
      height: 25px;
      width: 168px;
      border: 3px solid #7f8c8d;
      color: #2c3e50;
      background-color: #bdc3c7;
      cursor: pointer;

      &:hover {
        border: 3px solid #bdc3c7;
        color: white;
        background-color: #7f8c8d;
      }

      &:focus {
        outline: none;
      }
    }
  }
  
  input[type='checkbox'], input[type='submit'] {
    display: none;
  }
}
