div.sidebar-wrapper {
  margin-top: 75px;
  height: 100%;
  width: 200px;
  position: fixed;
  font-family: 'Lato', sans-serif;
  background-color: rgba(243,249,245,.75);
  
  h1, li {
    font-size: 16px;    
  }
  
  h1 {
    text-indent: 15px;
    line-height: 35px;
    margin-top: 7px;
    margin-bottom: -4px;
    color: rgba(50,50,50,1);
    text-transform: uppercase;    
  }
  
  li {
    text-indent: 20px;
    line-height: 30px;
    color: rgba(160,160,160,1);
    
    i {
      position: absolute;
      right: 10px;
      margin-top: 7px;
      display: none;
    }
    
    &:hover, &.selected {
      color: rgba(255,255,255,1);
      cursor: pointer;
      
      i {
        display: inline-block;
        opacity: .75;
      }
    }
    
    &:hover {
      background-color: rgba(46, 204, 113, .5); 
    }
    
    &.selected {
      background-color: rgba(46, 204, 113, 1); 
      border-left: 3px solid black;
      &:hover {
        background-color: rgba(46, 204, 113, .75);         
      };
    }
    
  }
  
  #clear-all {
    border: none;
    margin-top: 20px;
    margin-left: 15px;
    height: 25px;
    width: 165px;
    border: 3px solid #7f8c8d;
    color: #2c3e50;
    background-color: #bdc3c7;
    cursor: pointer;
    
    &:hover {
      border: 3px solid #bdc3c7;
      color: white;
      background-color: #7f8c8d;
    };
  }
  
  input[type='checkbox'], input[type='submit'] {
//    display: none;
  }
}
