div.sidebar-wrapper {
  margin-top: 100px;
  margin-left: 25px;
  width: 200px;
  height: 693px;
  position: fixed;
  font-family: 'Lato', sans-serif;
  border: 3px solid rgba(255,255,255,1);
  background-color: rgba(255,255,255,.25);

  input[type='checkbox'], input[type='submit'] {
    display: none;
  }
  
  .sidebar-main {
    height: 575px;
    overflow: auto;
    position: relative;
  }
  
  
  h1, li {
    font-size: 16px;    
  }
  
  h1 {
    text-indent: 15px;
    line-height: 30px;
    margin-bottom: 0px;
    color: black;
    text-transform: uppercase; 
    
    &.department {
      cursor: pointer;
    }
    
    &.department i {
      font-size: 12px;
      position: relative;
      top: -2px;
      left: 34px;
    }
  }
  
  li {
    text-indent: 18px;
    line-height: 30px;
    color: rgba(121,121,121,1);
    
    label {
      text-transform: capitalize;
    }
    
    i {
      position: absolute;
      right: 10px;
      margin-top: 7px;
      display: none; 
    }
    
    &:hover, &.selected {
      color: rgba(255,255,255,1);
      cursor: pointer;
      
      i {
        display: inline-block;
        opacity: .75;
        color: rgba(46, 204, 113, 1); 
        font-size: 13px;
      }
    }
    
    &:hover {
      background-color: rgba(46, 204, 113, .35); 
    }
    
    &.selected {
      background-color: rgba(46, 204, 113, .25); 
      color: rgba(26,26,26,1);
      
//      &:hover {
//        background-color: rgba(46, 204, 113, .65);         
//      };
    } 
  }

  .search {
    padding: 14px 13px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: white;
    
    .wrapper {
      width: 170px;
      background-color: rgba(49,69,89,.1);     
      line-height: 26px;
      
      input {
        border: none;
        height: 20px;
        border-radius: 2px;
        width: 140px;
        color: lightgray;
        position: relative;
        top: -2px;
        margin-left: 4px;
      }

      i.fa-search {
        color: white;
        background-color: rgba(0,0,0,.35);
        line-height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 2px;
        padding: 1px;
      }
    }
  }
  
  .dept-wrapper {
    background-color: rgba(255,255,255,.2);
    
    h1 {
      background-color: rgba(255,255,255,.7);
    }

  }
  
  h1.role {
    background-color: white;
    margin-top: 1px;
  }
  
  .role-wrapper {
    display: none;
  }
  
  .exp-wrapper {
    margin-top: 2px;
    background-color: rgba(255,255,255,.2);
    
    h1 {
      background-color: rgba(255,255,255,.6);
    }
  }
  
  .clear {
    background-color: white;
    height: 65px;
  
    #clear-all {
      border: none;
      margin-top: 20px;
      margin-left: 15px;
      height: 25px;
      width: 168px;
      border: 3px solid #7f8c8d;
      color: #2c3e50;
      background-color: #bdc3c7;
      cursor: pointer;
    
      &:hover {
        border: 3px solid #bdc3c7;
        color: white;
        background-color: #7f8c8d;
      };
    
      &:focus {
        outline: none;
      };
    }
  

  }
  
}
