.hidden { display: none; }
.show { display: block; }
.hide { opacity: 0; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.visibility-hidden { visibility: hidden; }
.visibility-visible { visibility: visible; }
.inline-block { display: inline-block; }

span.opaque {
  -webkit-transition: opacity 0.25s ease-out;
  opacity: 0;
}

.modal-background {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

// .fa-paw {
//   position: absolute;
//   top: 350px;
//   left: 655px;
//   z-index: 9999;
//   font-size: 20px;
//   background-color: rgba(255,255,255,.5);
//   padding: 7px;
//   border-radius: 15px;
// }

.loading{
  z-index: 9999;
  position:absolute;
  top:50%;
  left:50%;
  width:30px;
  height:30px;
  margin:-20px 0 0 -20px;
  border-width: 5px;
  border-style:solid;
  border-color: #fff #fff rgba(0,0,0,.5) rgba(0,0,0,.5);
  border-radius: 20px;
  opacity: 0.9;
  -webkit-animation: rotate 1s linear infinite;
  -ms-animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate{
  0% { -webkit-transform:rotate(0deg) }
  100% { -webkit-transform:rotate(360deg) }
}

@-ms-keyframes rotate{
  0% { -ms-transform:rotate(0deg) }
  100% { -ms-transform:rotate(360deg) }
}

.is-droppable {
  background-color: #EBEBEB;
  border: 3px dashed #AAAAAA;
  border-radius: 5px;
} 


