.modal-background {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  z-index: 1;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.hide {
  opacity: 0;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.loading{
  z-index: 9999;
  position:absolute;
  top:50%;
  left:50%;
  width:30px;
  height:30px;
  margin:-20px 0 0 -20px;
  border-width: 5px;
  border-style:solid;
  border-color:#fff #fff rgba(0,0,0,.5) rgba(0,0,0,.5);
  opacity:.9;
  border-radius:20px;
  -webkit-animation:rotate 1s linear infinite;
  -ms-animation:rotate 1s linear infinite;
  }
  @-webkit-keyframes rotate{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
  }
  @-ms-keyframes rotate{
  0%{-ms-transform:rotate(0deg)}
  100%{-ms-transform:rotate(360deg)}
}


