div.sidebar-wrapper {
  margin-top: 42px;
  margin-left: 0px;
  width: 215px;
  position: fixed;
  font-family: 'Lato', sans-serif;

  // this is for overflow scroll
  top: 0;
  bottom: 0;
  overflow-y: auto;
  
  div.role-prefs {
    
    li {
      position: relative;      
      display: inline-block;
      text-decoration: none;
      line-height: 25px;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      background-color: rgba(192, 57, 43,.65);

      &:first-of-type {
        margin: 0;
        padding: 0;
        width: 108px;
        color: white;
      }
      
      &:nth-of-type(2) {
        position: absolute;
        color: white;
        width: 107px;
        right: 0;
      }
      
      &.selected {
        background-color: rgba(192,57,43,1);
      }
    }
  }
  
  // SEARCH FORM
  .search {
    position: relative;
    background-color: #bdc3c7;
    height: 45px;
    display: block;  
    
    
    &:hover {
      i.fa-search {
        color: #7f8c8d;
        
        &:hover {
         background-color: #3498db;
         color: white;
        }
      }
    }    

    input {
      top: 12px;
      left: 16px;
      border: none;
      height: 22px;
      border-radius: 2px;
      width: 82%;
      color: black;
      position: relative;
      margin-left: 4px;
      background-color: rgba(0,0,0,.1);
      
      &:hover, &:focus {
        background-color: white;
        border: 2px solid rgba(52,152,219,.5);
      }
    }

    i.fa-search {
      position: absolute;
      top: 13px;
      right: 22px;
      color: white;
      background-color: rgba(126,126,126,.01);
      line-height: 19px;
      width: 21px;
      text-align: center;
      border-radius: 2px;
      padding: 1px;
    }
  }
  
  // MIDDLE PORTION
  .sidebar-middle {
    cursor: pointer;

    .wrapper {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-bottom: 5px;
      background-color: #FDFDFD;
    }

    // FOR THE FIRST DIV
    .wrapper.dept-div {

      ul {
        // margin: auto;
        text-align: center; 
        

        li {
          position: relative;
          display: inline-block;
          width: 68px;
          height: 68px; 
          text-indent: 0;
          border-radius: 2px;
          
          i {
            font-size: 25px;
            margin-top: 10px;
            color: rgba(0,0,0,0.3);

            label {
              font-size: 13px;
            }            
          }        

          &.selected {
            background-color: rgba(0,0,0,0.05);

            i.fa-desktop {
              color: #3498db;
              // border-left: 2px solid #3498db;
            }
            i.fa-code {
              color: #cc3f30;
              // border-left: 2px solid #cc3f30;
            }             
          }

          &:hover {
            background-color: rgba(46, 204, 113, .25);
          }           
        }        
      }
    }

    .wrapper.years-exp {
      ul > li {
        line-height: 30px;
        height: 30px;
        width: 25px;
        display: inline-block;
        color: rgba(0,0,0,0.3);
        text-indent: 0;
        text-align: center;
        margin-left: -1px;

        &:first-of-type {
          margin-left: 7px;
        }

        &.selected {
          background-color: rgba(0,0,0,0.05);
          color: black;
        }
      }
    }

    .wrapper.key-skills {
      margin-left: 20px;

      ul > li {
        line-height: 30px;
        text-indent: 0;        
        padding: 5px;
        display: inline-block;

        p {
          position: relative;
          right: -40px; 
        }

        i.skill-icon {
          font-size: 30px;
          vertical-align: middle;
          display: inline-block;
        }

        img {
          display: inline-block;
          -webkit-filter: grayscale(85%);
          position: relative;
          top: 0;
          bottom: 0;
          margin: auto; 
          max-height: 23px;
          vertical-align: middle;
        } 

        &.selected, &:hover {
          img {  -webkit-filter: grayscale(15%); }
        }         
      }
    }
    
    // CATEGORIES
    h1 {
      font-size: 14px; 
      text-indent: 35px;
      line-height: 30px;
      color: black;
      text-transform: uppercase; 
      position: relative;
      font-weight: 300;
      
      i {
        position: absolute;
        left: -18px;
        top: 3px; 
        font-weight: 100;
        font-size: 16px;     
        line-height: 22px;
        width: 22px;
        text-align: center;  
      }
      
      i.fa-caret-right {
        color: rgba(0,0,0,.25);
      }

      i.fa-caret-down {
        color: rgba(2,119,158,1);
      }
      
      &:hover {
        color: rgba(2,119,158,.5);
        
        i {
          color: rgba(2,119,158,.5);
        }
      }
    }
    
    // BULLET POINTS
    li.job-sidebar {
      text-indent: 35px;
      line-height: 30px;
      color: rgba(0,0,0,0.5);
      text-transform: capitalize;
      position: relative;
      
      // THIS IS FOR PREFERENCES
      input[type='text'] {
        background-color: rgba(240,240,240,.5);
        border: none;
        width: 60px;
        position: absolute;
        top: 8px;
        right: 5px;
        text-align: center;
      }
      
      i.fa-angle-right, i.fa-times-circle {
        position: absolute;
        display: none;        
        font-size: 20px;
        font-weight: 900;
        top: 2px;  
        right: 5px;          
      }     
      
      &:hover {
        background-color: rgba(46, 204, 113, .25);
        
        i.fa-angle-right {
          display: inline-block;
          color: rgba(46, 204, 113, .5); 
          top: 4px;  
          right: 5px;            
        }        
      }
      
      &.selected {
        // background-color: #fafafa;
        color: rgba(26,26,26,1);
        
        i.fa-times-circle {
          display: none;
        }

        i.fa-angle-right {
          display: inline-block;
          color: rgba(46, 204, 113, 1); 
          font-size: 20px;           
        }
        
        &:hover {
          background-color: rgba(50,50,50,.05);
                  
          i.fa-angle-right {
            display: none;
          }
          
          i.fa-times-circle {
            display: inline-block;
            color: #CCCCCC; 
            top: 6px;  
            right: 5px;    
          }          
        }
      }
    }  
  }
  
  // CLEAR PORTION
  .clear {
    background-color: #FDFDFD;
    height: 65px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 215px;

    #clear-all-roles, #clear-all-prefs {
      border: none;
      margin-top: 18px;
      margin-left: 23px;
      height: 30px;
      width: 168px;
      // border: 3px solid #7f8c8d;
      color: white;
      background-color: black;
      cursor: pointer;

      &:hover {
        // border: 3px solid #bdc3c7;
        color: white;
        background-color: #7f8c8d;
      }

      &:focus {
        outline: none;
      }
    }
  }
  
  input[type='checkbox'], input[type='submit'] {
    display: none;
  }
}







