.user-show-wrapper {
  position: relative;
  top: 75px;
  left: 300px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,.02);
  width: 1000px;
  height: 100%;
  margin-bottom: 100px;
  padding-bottom: 20px;

  // GENERAL
  h3, p {
    text-transform: none;
  }  
  
  h3 {
    font-size: 20px;     
    margin: 15px;
  	padding: 0 0 8px 0;
  	text-transform: uppercase;
  	border-bottom: solid 2px rgba(0,0,0,.25);
  	letter-spacing: 1px;
  	font-family: 'Source Sans Pro', sans-serif;
  }

  p {
  	margin: 15px;
    font-family: 'Lora', serif;      
	  font-size: 18px;
	  line-height: 24px;    	
  }

  // This wraps the company and user business cards
  .profile-card-positions {
    display: inline-block; 
    border-left: 1px solid rgba(255,255,255,.25);
    width: 100%;
    
    .company-business-card {
      margin-top: 15px; 
      margin-left: 18px;
      float: left;
    }

    .intro {
      margin-top: 15px; 
      float: left;
      background-color: #f4f5f0;
      width: 435px;
      height: 141px;
      border-top: 5px solid #FAFAFA;
      border-bottom: 5px solid #FAFAFA;
    }

    .business-card {
      margin-top: 15px;
      margin-right: 18px;
      border: none;
      box-shadow: none;
      float: right;
    }
  } 
    
  .userindex-snapshot-wrapper {
    width: 100%;
    background-color: #f4f5f0;
    
    li {
      list-style: none;
      border-bottom: 3px solid rgba(0,0,0,.25);
      
      .company-business-card {
        display: inline-block;
      }
    }
  }

      
}














