.business-card {
  // box-shadow: 0px 1px 2px #888888;
  height: 140px;
  width: 255px;
  background-color: #FAFAFA;
  text-indent: 0px;
  font-family: 'Neuton';
  padding: 5px;
  position: relative;
  
  form.edit_user {
    position: absolute;
    top: 2px;
    left: 25px;
        
    input[type='file'] {
      display: none;
      position: absolute;
      top: 50px;
      left: 150px;
    }
    input[type='submit'] {
      display: none;
      border: none;
      position: absolute;
      top: 0px;
      left: 125px;
      height: 22px;
      background-color: #27ae60;
      color: white;
    }
  }

  .info {
    background: #b3b3b1;
    height: 100%;
    position: relative;

    h1 {
      font-size: 19px;
      font-weight: 700;
      color: black;
      font-family: 'Montserrat';
    }
    
    h2 {
      font-size: 13px;
      font-weight: 400;
      color: #333332;
      font-family: 'Merriweather';      
    }    

    .full-name {
      position: absolute;
      top: 8px;
      left: 5px;
      z-index: 2;
      padding: 3px;
      padding-left: 5px;
      
      h1, h2 {
        font-weight: 400;
        display: inline-block;
      }
    }
    
    .bcard-title, .bcard-employer {      
      padding: 3px 5px;      
      left: 5px;
      top: 40px;
      position: absolute;
      z-index: 10;    
        
      h2 {
        display: inline-block;
      }
    }
    
    .bcard-employer {
      left: 5px;
      top: 61px;     

      form.edit_user {
        position: absolute;
        top: 0px;
        left: 25px;
        background-color: yellow;

        ul.token-input-list {
          height: 20px;
        }       
      }     
    }

    .bcard-location, .bcard-location-two {
      padding: 3px 5px;
      position: absolute;
      z-index: 10;
    
      h2 {
        display: inline-block;
      }    
    }
    
    .bcard-location {
      left: 5px;
      bottom: 27px;      
    }

    .bcard-location-two {
      left: 5px;
      bottom: 5px;      
    }
    
        
    a.edit {
      text-decoration: none;
      position: absolute;
      top: 25px;
      left: 2px;
      color: black;
    }
  }

  img {
    position: absolute;
    top: 5px;
    right: 6px;
    opacity: .45;
	  -webkit-filter: grayscale(90%);
    height: 140px;
  }
}