<% user = locals[:user] %>

<div class="user-action-items group">
	<h3>Interested? Tell Wolfpack</h3>
	<h5>We'll try to make it happen!</h5>
	<ul>
		<span>I'd be interested in:</span>
		<li>Meeting <%= user.fname %>, for Business</li>
		<li>Meeting - General Networking</li>
		<li>Brief phone call</li>
		<li>Email exchange</li>
		<li>Request business card</li>
		<li>Sorry, not right now</li>
	</ul>
</div>