<nav class="navbar-wrapper">
	<%= link_to 'NYTech.io', root_url, class: "logo" %>
	
	<div class="menu">
		<%= link_to 'Jobs', jobs_url %>
	</div>

	<div class="session">
		<% if signed_in? %>
			<%= link_to "Log Out", logout_url, method: :delete %>
		<% else %>
			<%= link_to "Log In", login_url %>
		<% end %>
	</div>
</nav>