<div class="sidebar-wrapper">
	<% if request.env['PATH_INFO'] == '/jobs' %>
	
		<ul>
			Job Category:
			<% Job.unique_departments.each do |dept| %>
				<li><%= dept %></li>
			<% end %>
		</ul>
		
		<ul>
			Years Experience:
			<% ['Less than 1', '1 - 3', '3 - 5', '5+'].each do |exp| %>
				<li><%= exp %></li>
			<% end %>
		</ul>
		
	<% end %>
</div>